# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

function Log-Debug {
    param ([string]$message)
    $logMessage = "$(Get-Date -Format 'yyyy-MM-dd HH:mm:ss') [DEBUG] $message"
    Write-Output $logMessage
}

function Log-Info {
    param ([string]$message)
    $logMessage = "$(Get-Date -Format 'yyyy-MM-dd HH:mm:ss') [INFO] $message"
    Write-Output $logMessage
}

function Log-Warning {
    param ([string]$message)
    $logMessage = "$(Get-Date -Format 'yyyy-MM-dd HH:mm:ss') [WARNING] $message"
    Write-Output $logMessage
    if (Test-Path -Path "C:\ProgramData\SOCA\${instanceId}") {
        $logMessage | Out-File -Append -FilePath "C:\ProgramData\SOCA\${instanceId}\bootstrap_WARNING.log"
    }
    else
    {
        Write-Output  "$(Get-Date -Format 'yyyy-MM-dd HH:mm:ss') [WARNING] Default SOCABootstrap Path does not exist or has been changed:  C:\ProgramData\SOCA\${instanceId}, bootstrap_WARNING.log won't be created.'"
    }
}

function Log-Error {
    param ([string]$message)
    $logMessage = "$(Get-Date -Format 'yyyy-MM-dd HH:mm:ss') [ERROR] $message"
    Write-Output $logMessage
    if (Test-Path -Path "C:\ProgramData\SOCA\${instanceId}") {
        $logMessage | Out-File -Append -FilePath "C:\ProgramData\SOCA\${instanceId}\bootstrap_ERROR.log"
    }
    else
    {
        Write-Output  "$(Get-Date -Format 'yyyy-MM-dd HH:mm:ss') [WARNING] Default SOCABootstrap Path does not exist or has been changed: C:\ProgramData\SOCA\${instanceId}, bootstrap_ERROR.log won't be created.'"
    }
}

function Exit-Fail {
    param ([string]$message)
    $logMessage = "$(Get-Date -Format 'yyyy-MM-dd HH:mm:ss') [FATAL] $message"
    Write-Output $logMessage
    if (Test-Path -Path "C:\ProgramData\SOCA\${instanceId}") {
        $logMessage | Out-File -Append -FilePath "C:\ProgramData\SOCA\${instanceId}\bootstrap_FATAL.log"
    }
    else
    {
        Write-Output  "$(Get-Date -Format 'yyyy-MM-dd HH:mm:ss') [WARNING] Default SOCABootstrap Path does not exist or has been changed: C:\ProgramData\SOCA\${instanceId}, bootstrap_FATAL.log won't be created.'"
    }

    exit 1
}
