# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

function Get-Secret {
    param (
        [string]$SecretId
    )

    $maxAttempt = 10
    $currentAttempt = 0
    $sleepInterval = 180

    while ($true) {
        try {
            $secretJson = aws secretsmanager get-secret-value --secret-id $SecretId --query SecretString

            if ($secretJson) {
                $secretObject = $secretJson | ConvertFrom-Json
                $secretData = $secretObject| ConvertFrom-Json
                $result = @{
                    username = $secretData.username
                    password = $secretData.password
                }
                return $result
            }
        }
        catch {
            $currentAttempt++
            if ($currentAttempt -ge $maxAttempt) {
                Exit-Fail -Message "Timed out waiting for secret ${SecretId} from secrets manager "
            }
            Log-Warning -Message "Secret Manager is not ready yet ... Waiting ${sleepInterval} s... Loop count is: ${currentAttempt}/${maxAttempt}"
            Start-Sleep -Seconds $sleepInterval
        }
    }
}