# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: File Downloader (HTTP and S3) Added via common.j2
function file_download() {

  # file_download --download-url="https://link/file.txt" --save-as="file.txt" <-- will download from internet via https
  # file_download --download-url="s3://mybucket/file.txt" --save-as="file.txt"  <-- will download from s3 via awscli
  # file_download --download-url="https://github.com/user/repo.git" --save-as="repo" <-- will clone git repo

  # Optional: Specify --sha256-checksum to verify data integrity
  # Optional: Specify --wget-options to add any addition options (note: --quiet is enabled by default)

  local DOWNLOAD_URL
  local SAVE_AS
  local SHA256_CHECKSUM_EXPECTED
  local SHA256_CHECKSUM_FOUND
  local WGET_OPTIONS
  local DOWNLOAD_TYPE
  log_info "Detected file_download request with args: ${*}"

  for arg in "$@"; do
    case $arg in
      --download-url=*) DOWNLOAD_URL="${arg#*=}" ;;
      --save-as=*) SAVE_AS="${arg#*=}" ;;
      --sha256-checksum=*) SHA256_CHECKSUM_EXPECTED="${arg#*=}" ;;
      --wget-options=*) WGET_OPTIONS="${arg#*=}" ;;
      *) exit_fail "Unknown arg ${arg} for file_download";;
    esac
  done

  # Determine download type
  if [[ ${DOWNLOAD_URL} =~ \.git$ ]]; then
      log_info "${DOWNLOAD_URL} seems to be a Git repository"
      DOWNLOAD_TYPE="git"
  elif [[ ${DOWNLOAD_URL} =~ ^s3:// ]]; then
      log_info "${DOWNLOAD_URL} seems to be a S3 URL"
      DOWNLOAD_TYPE="s3"
  else
      log_info "${DOWNLOAD_URL} seems to be an HTTP URL"
      DOWNLOAD_TYPE="http"
  fi

  if [[ -z ${DOWNLOAD_URL} ]]; then
    exit_fail " --download-url  not found for file_download"
  fi

  if [[ -z ${SAVE_AS} ]]; then
    exit_fail "SAVE_AS not found, for file_download. Please specify --save-as"
  fi

  case "${DOWNLOAD_TYPE}" in
    http)
      # HTTP download
      if ! verify_package_installed wget; then
        packages_install wget
      fi

      if wget --quiet ${WGET_OPTIONS} "${DOWNLOAD_URL}" -O "${SAVE_AS}"; then
        log_info "${DOWNLOAD_URL} downloaded successfully and saved as ${SAVE_AS}"
      else
        exit_fail "Error downloading [${DOWNLOAD_URL}] wget returned an error, check the logs for more details"
      fi
      ;;

    s3)
      # S3 download
      local S3_ACTION
      if [[ "${DOWNLOAD_URL}" =~ /$ ]]; then
          log_info "${DOWNLOAD_URL} ends with /, using s3 sync"
          S3_ACTION="sync"
      else
          log_info "${DOWNLOAD_URL} does not end with /, using s3 cp"
          S3_ACTION="cp"
      fi

      if aws_cli s3 ${S3_ACTION} ${DOWNLOAD_URL} ${SAVE_AS} --quiet; then
        log_info "${DOWNLOAD_URL} downloaded successfully and saved as ${SAVE_AS}"
      else
        exit_fail "Error downloading ${DOWNLOAD_URL}. aws_cli returned an error"
      fi
      ;;

    git)
      # Git clone
      if ! verify_package_installed git; then
        packages_install git
      fi

      if git clone "${DOWNLOAD_URL}" "${SAVE_AS}"; then
        log_info "Git repository ${DOWNLOAD_URL} cloned successfully into ${SAVE_AS}"
      else
        exit_fail "Error cloning git repository ${DOWNLOAD_URL}"
      fi
      ;;
  esac

  # If --sha256-checksum is provided, proceed to an integrity check
  if [[ -n ${SHA256_CHECKSUM_EXPECTED} ]]; then
    log_info "--sha256-checksum found, verifying file"
    SHA256_CHECKSUM_FOUND=$(sha256sum "${SAVE_AS}" | awk '{print $1}')
    if [[ "${SHA256_CHECKSUM_FOUND}" != "${SHA256_CHECKSUM_EXPECTED}" ]];  then
      exit_fail "Checksum for ${DOWNLOAD_URL} failed. Expected SHA256 ${SHA256_CHECKSUM_EXPECTED}, but found ${SHA256_CHECKSUM_FOUND} File may be compromised."
    else
      log_info "Checksum verified: Expected SHA256 ${SHA256_CHECKSUM_EXPECTED}, found ${SHA256_CHECKSUM_FOUND}"
    fi
  fi
}
# End: File Downloader
