# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin - Wrapper AWSCLI. Added via common.sh.j2
function aws_cli () {
  local AWS
  AWS=$(command -v aws)

  local CHECK_CACHE
  local CACHED_RESULT
  local LOG_OUTPUT

  # Automatically add --region if not specified
  if [[ "$*" == *"--region"* ]]; then
    local AWS_API_CALL="${AWS} $*"
  else
    local AWS_API_CALL="${AWS} --region {{ context.get("/configuration/Region") }} $*"
  fi

  log_info "aws_cli received API call: ${AWS_API_CALL}"

  # Do not cache and logs secretsmanager successfull calls
  if [[ "$*" == "secretsmanager"* ]]; then
    CHECK_CACHE="false"
    LOG_OUTPUT="false"
  else
    CHECK_CACHE="true"
    LOG_OUTPUT="true"
  fi

  run_awscli_with_retry() {
    local OUTPUT
    local EXIT_CODE
    local MAX_RETRIES=5
    local ATTEMPT=1

    while true; do
        OUTPUT="$(${AWS_API_CALL} 2>&1)"
        EXIT_CODE=$?

        if [[ ${EXIT_CODE} -eq 0 ]]; then
            if [[ ${LOG_OUTPUT} == "true" ]]; then
                log_info "aws_cli: ${AWS_API_CALL} returned success ${OUTPUT}"
            fi
            printf '%s\n' "${OUTPUT}"
            return 0
        fi

        if echo "${OUTPUT}" | grep -qE '(^|[[:space:]])(Throttling|ThrottlingException|RequestLimitExceeded|TooManyRequestsException|ProvisionedThroughputExceededException|Rate exceeded)($|[[:space:]])'; then
            if [[ ${ATTEMPT} -ge ${MAX_RETRIES} ]]; then
                log_error "aws_cli: ${AWS_API_CALL} returned error after ${MAX_RETRIES} retry: ${OUTPUT}"
                printf '%s\n' "${OUTPUT}"
                return ${EXIT_CODE}
            fi

            local SLEEP_TIME=$((RANDOM % 61))
            log_warning "aws_cli: AWS throttling detected (attempt ${ATTEMPT}/${MAX_RETRIES}). Sleeping ${SLEEP_TIME}s..."
            sleep "${SLEEP_TIME}"
            ATTEMPT=$((ATTEMPT + 1))
        else
            log_error "aws_cli: ${AWS_API_CALL} returned a non-throttling error: ${OUTPUT}"
            printf '%s\n' "${OUTPUT}"
            return ${EXIT_CODE}
        fi
    done
    }

  # Check cache if enabled
  if [[ "${CHECK_CACHE}" == "true" ]]; then
    if declare -F cache_get_key > /dev/null; then
      CACHED_RESULT=$(cache_get_key "${AWS_API_CALL}")
      if [[ "${CACHED_RESULT}" == "CACHE_MISS" ]]; then
        run_awscli_with_retry
      else
        echo -n "${CACHED_RESULT}"
      fi
    else
      run_awscli_with_retry
    fi
  else
    run_awscli_with_retry
  fi
}
# End - Wrapper AWSCLI