# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin - Wrapper for Secrets Manager. Added via common.sh.j2
function get_secret() {
    local SECRET_NAME="${1}"
    local MAX_ATTEMPT=10
    local CURRENT_ATTEMPT=0
    local SLEEP_INTERVAL=180

    if ! verify_package_installed jq; then
      packages_install jq
    fi

    local JQ=$(which jq)
    while ! secret=$(aws_cli secretsmanager get-secret-value --secret-id "${SECRET_NAME}" --query SecretString --output json); do
        ((CURRENT_ATTEMPT=CURRENT_ATTEMPT+1))
        if [[ ${CURRENT_ATTEMPT} -ge ${MAX_ATTEMPT} ]]; then
            exit_fail "error: Timed out waiting for secret ${SECRET_NAME} from secrets manager"
        fi
        log_info "Secret Manager is not ready yet for ${SECRET_NAME} ... Waiting ${SLEEP_INTERVAL} s... Loop count is: ${CURRENT_ATTEMPT}/${MAX_ATTEMPT}"
        sleep ${SLEEP_INTERVAL}
    done
    echo -n ${secret}
}
# End - Wrapper for Secrets Manager
