# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin - Auto Logon
function Configure-Logon {
    {% if context.get('/configuration/UserDirectory/provider') in ("openldap", "existing_openldap") %}
        {% if context.get('/dcv/WindowsAutoLogon') == "true" %}
            Log-Info -Message "Configuring AutoLogon"
            New-ItemProperty -Path "HKLM:\Software\Microsoft\Windows NT\CurrentVersion\Winlogon" -Name "AutoAdminLogon" -PropertyType "DWord" -Value 1 -Force
            New-ItemProperty -Path "HKLM:\Software\Microsoft\Windows NT\CurrentVersion\Winlogon" -Name "DefaultUserName" -PropertyType "String" -Value "{{ context.get('/dcv/SessionOwner') }}" -Force
            New-ItemProperty -Path "HKLM:\Software\Microsoft\Windows NT\CurrentVersion\Winlogon" -Name "DefaultPassword" -PropertyType "String" -Value "{{ context.get('/dcv/LocalAdminPassword') }}" -Force
        {% endif %}
    {% endif %}
}
Configure-Logon
# End - Auto Logon