# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin - Join Windows host to Active Directory
function Join-ActiveDirectory {
    Log-Info -Message "Joining Active Directory"
    $secret = Get-Secret -SecretId "{{ context.get('/configuration/UserDirectory/service_account_secret_arn') }}"
    if ($secret)
    {
        $serviceAccountUsername = $secret.username.Split('@')[0] # e.g: User@Domain is UPN format, we fallback to SAM format which is DOMAIN\User
        $serviceAccountPassword = $secret.password
    }
    else
    {
        Write-Error "Failed to retrieve the secret."
    }

    $ServerInAD = (Get-WmiObject -Class Win32_ComputerSystem).PartOfDomain
    if ($ServerInAD)
    {
        Log-Info -Message "Host already part of AD domain"
    }
    else
    {
        Log-Info -Message "Joining Computer to AD domain"
        $JoinPassword = ConvertTo-SecureString "$serviceAccountPassword" -AsPlainText -Force
        $JoinCredentials = New-Object System.Management.Automation.PSCredential -ArgumentList "{{ context.get('/configuration/UserDirectory/short_name') }}\$serviceAccountUsername",$JoinPassword
        Add-Computer -ComputerName $env:COMPUTERNAME -DomainName "{{ context.get('/configuration/UserDirectory/domain_name') }}" -Credential $JoinCredentials
        Log-Info -Message "Domain Join completed, setting up requireReboot to true"
        $requireReboot=$true
    }
}
Join-ActiveDirectory
# End - Join Windows host to Active Directory