# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# LOG: Default User Data: Get-Content C:\ProgramData\Amazon\EC2-Windows\Launch\Log\UserdataExecution.log
# LOG: SOCA Bootstrap Log: Get-Content C:\ProgramData\Amazon\EC2-Windows\Launch\Log\UserdataExecutionSOCA.log
# LOG: DCV: Get-Content C:\ProgramData\NICE\dcv\log\server.log

function Write-ToLog {
    Param (
        [ValidateNotNullOrEmpty()]
        [Parameter(Mandatory=$true)]
        [String] $Message,
        [String] $LogFile = ('{0}\ProgramData\Amazon\EC2-Windows\Launch\Log\UserdataExecutionSOCA.log' -f $env:SystemDrive),
        [ValidateSet('Error','Warn','Info')]
        [string] $Level = 'Info'
    )

    if (-not(Test-Path -Path $LogFile)) {
        $null = New-Item -Path $LogFile -ItemType File -Force
    }


    $FormattedDate = Get-Date -Format 'yyyy-MM-dd HH:mm:ss'
    switch ($Level) {
        'Error' {
            $LevelText = 'ERROR:'
        }
        'Warn' {
            $LevelText = 'WARNING:'
        }
        'Info' {
            $LevelText = 'INFO:'
        }
    }
    "$FormattedDate $LevelText $Message" | Out-File -FilePath $LogFile -Append
}