# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin - Tag EBS Disk as it's not supported by CFN
function Tag-EBS {

    Log-Info -Message "Tag EBS disks manually as CFN ASG does not support it"
    $clusterName = "{{ context.get('/configuration/ClusterId') }}"
    $tagName = -join($clusterName, "-dcv-", "{{ context.get('/dcv/SessionOwner') }}", "-", "{{ context.get('/dcv/SessionId') }}")
    $tags = @(
        @{Key="Name";Value="$tagName"}
        @{Key="soca:JobOwner";Value="{{ context.get('/dcv/SessionOwner') }}"}
        @{Key="soca:JobProject";Value="desktop"}
        @{Key="soca:NodeType";Value="dcv_node"}
        @{Key="soca:BaseOS";Value="{{ context.get('/configuration/BaseOS') }}"}
    )

    $volumes = Invoke-SOCAAwsCli ec2 describe-instances --instance-ids $instanceId --query "Reservations[].Instances[].BlockDeviceMappings[].Ebs.VolumeId" --output text

    foreach ($volumeId in $volumes.Split()) {
        New-EC2Tag -Resource $volumeId -Tag $tags
        Log-Info -Message "Applied tags to volume $volumeId"
    }

}
Tag-EBS
# End - Tag EBS Disk