


  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/prism.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>


  <!-- hide left sidebar when using soca desktop app -->
  <script>
      var ua = navigator.userAgent;
       if (/Soca-Desktop-App/i.test(ua)) {
           document.getElementById("accordionSidebar").style.display = "none"
        }

  </script>



