<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Scale-Out Computing on AWS <small>(version 2.6.0)</small></h1>
    <div>
         <a href="https://github.com/awslabs/scale-out-computing-on-aws"  target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fab fa-github"></i> Source Code</a>
            <a href="https://github.com/awslabs/scale-out-computing-on-aws/issues/new" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-question-circle"></i> Help and Support</a>

    <a href="https://awslabs.github.io/scale-out-computing-on-aws/" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-book"></i> Documentation</a>
        <a href="/logout" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>

</div>