<!--
# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common/header.html' %}
</head>
<body id="page-top">
<div id="wrapper">
    {% include 'common/monaco_editor.html' %}
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <br>
            <div class="container-fluid">
                {% include 'common/horizontal_menu_bar.html' %}
                {% include 'common/flashed_messages.html' %}

                <div class="col-md-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-add" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <br>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Edit SOCA User Data Template</h6>
                                </div>
                                    <div class="card-body">
                                        <form id="edit-template" action="/admin/target_nodes/user_data/edit/update" method="post">
                                            <div class="form-group">
                                                <label for="template_name" data-toggle="tooltip" data-placement="top"
                                                       title="Name for your template">Template Name</label>
                                                <input id="template_name" placeholder="Friendly Name for your template"
                                                       class="form-control"
                                                       type="text"
                                                       disabled value="{{template_info.template_name}}" name="template_name">
                                            </div>

                                            <div class="form-group">
                                                <label for="description" data-toggle="tooltip" data-placement="top"
                                                       title="Description of your User Data Template">User Data Template Description
                                                </label>
                                                <textarea id="description" class="form-control" rows="3" name="description">{{template_info.description}}</textarea>
                                            </div>

                                            <div class="alert alert-warning">
                                                    <h5> Important Info about your User Data</h5>

                                                    <ul>
                                                        <li>User data script is operating system-specific: Linux requires a Bash script, while Windows expects a PowerShell script. </li>
                                                        <li>For Linux user data, we recommend starting the script with: <code>#!/bin/bash</code></li>
                                                        <li>For Windows user data, we recommend starting the script with: <code>&lt;powershell&gt;</code> and close it with <code>&lt;/powershell&gt;</code></li>
                                                        <li><a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/user-data.html" target="_blank">User data is limited to 16 KB</a></li>
                                                        <li>User data supports <a href="https://jinja.palletsprojects.com/en/stable/" target="_blank">Jinja templating</a></li>
                                                    </ul>


                                                    <h5>Supported variables (case-sensitive)</h5>
                                                    <ul>
                                                        <li>
                                                        <kbd>{%raw%}{{ SOCA_USER }}{%endraw%}</kbd> Name of the current SOCA user requesting the target node
                                                        </li>
                                                        <li>
                                                        <kbd>{%raw%}{{ SOCA_USER_PUBLIC_KEYS }}{%endraw%}</kbd> Return a list where each item is the value of one public key assigned to the user (id_rsa.pub, id_edcsa.pub etc ...).
                                                        </li>
                                                    </ul>
                                                    <h5>
                                                        Additional variables (case-sensitive)
                                                    </h5>
                                                    Additional variables can be defined on the <a href="/admin/target_nodes/software_stacks" target="_blank"> Software Stack</a> associated to this user data template. Variables can be retrieved via <kbd>{%raw%}{{ VARIABLE_NAME }}{%endraw%}</kbd> syntax. <br>
                                                    For example, {%raw%} <code>{{ MY_TEST_VARIABLE }}</code> on your user data {%endraw%} will automatically be replaced with "test123" if you configure <code>MY_TEST_VARIABLE=test123</code> on the Software Stack associated to this User Data.

                                                </div>

                                            <div class="form-group">
                                                <label for="text-editor" data-toggle="tooltip" data-placement="top"
                                                       title="User Data to be executed on the EC2 host"> User Data
                                                </label>
                                                <div id="text-editor" style="width:100%;height:500px;border:1px solid">

                                                </div>
                                                <input type="hidden" name="user_data" id="user_data">

                                            </div>


                                            <div>
                                                <input type="hidden" name="template_id" value="{{template_info.id}}">
                                                <input type="hidden" name="csrf_token"
                                                       value="{{ csrf_token() }}">
                                                <button type="submit" class="btn btn-primary btn-lg">Update User Data Template
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>

                {% include 'common/footer.html' %}
                <script>
                    $(document).ready(function () {
                        // enable tooltip
                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                    })
                </script>

                    <script>
                          require(['vs/editor/editor.main'], function () {
                              window.fileeditor = monaco.editor.create(document.getElementById("text-editor"), {
                                  value: atob('{{template_info.user_data}}'),
                                  language: "shell"
                              });
                              document.getElementById('edit-template').addEventListener('submit', function () {
                                  const userData = window.fileeditor.getValue();
                                  document.getElementById('user_data').value = userData;
                              });
                          });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
