# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# These functions are available on all services (controller, compute node, login node, scheduler ...) via `common.sh.j2`
# Always use theses function when interacting with system packages.

function packages_remove () {
  # Remove specified packages (e.g: packages_remove pkg1 pkg2 ... pkgN)
  if [[ $# -eq 0 ]]; then
    exit_fail "packages_remove - No package list specified. Exiting... "
  fi

  {% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7") %}
    packages_exec_command yum remove -y "${@}"
  {% elif context.get("/configuration/BaseOS") in ("rhel8", "rhel9", "rocky8", "rocky9") %}
    packages_exec_command dnf remove -y "${@}"
  {% elif context.get("/configuration/BaseOS") == "ubuntu2204" %}
    packages_exec_command apt-get remove -y "${@}"
  {% endif %}
}

function packages_install () {
  # Install specified packages (e.g: packages_install pkg1 pkg2 ... pkgN)
  if [[ $# -eq 0 ]]; then
    exit_fail "packages_install - No package list specified. Exiting... "
  fi

  {% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7") %}
    packages_exec_command yum install -y "${@}"
  {% elif context.get("/configuration/BaseOS") in ("rhel8", "rhel9", "rocky8", "rocky9") %}
    packages_exec_command dnf install -y "${@}"
  {% elif context.get("/configuration/BaseOS") == "ubuntu2204" %}
    packages_exec_command apt-get install -y "${@}"
  {% endif %}
}

function verify_package_installed () {
  # Return "true" is a given package is installed (e.g: verify_package_installed pkg_name)
  if [[ $# -eq 0 ]]; then
    exit_fail "verify_package_installed - No package list specified. Exiting... "
  fi

  {% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7", "rhel8", "rhel9", "rocky8", "rocky9") %}
    rpm -q ${1} &> /dev/null &&  return 0 || return 1
  {% endif %}
}

function packages_clean () {
  # Remove un-necessary packages
  {% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7") %}
    packages_exec_command yum clean all
  {% elif context.get("/configuration/BaseOS") in ("rhel8", "rhel9", "rocky8", "rocky9") %}
    packages_exec_command dnf clean all
  {% elif context.get("/configuration/BaseOS") == "ubuntu2204" %}
    packages_exec_command apt-get clean
  {% endif %}
}

function packages_generic_command() {
  # generic wrapper for commands other than install/remove
  {% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7") %}
    packages_exec_command yum "${@}"
  {% elif context.get("/configuration/BaseOS") in ("rhel8", "rhel9", "rocky8", "rocky9") %}
    packages_exec_command dnf "${@}"
  {% elif context.get("/configuration/BaseOS") == "ubuntu2204" %}
    packages_exec_command apt-get "${@}"
  {% endif %}
}

function packages_exec_command () {
  # wrapper for all exec commands
  local MAX_ATTEMPTS=10
  local ATTEMPT_NUMBER=1
  local SLEEP_TIME_SECONDS=60
  local EXEC_COMMAND=("$@")
  log_info "Attempting to run ${EXEC_COMMAND[@]}"
  while [[ ${ATTEMPT_NUMBER} -le ${MAX_ATTEMPTS} ]]; do
    log_info "Attempt ${ATTEMPT_NUMBER}/${MAX_ATTEMPTS})"
    "${EXEC_COMMAND[@]}"
    if [[ $? -eq 0 ]]; then
      log_info "Command successful after: ${ATTEMPT_NUMBER}/${MAX_ATTEMPTS} attempts"
      return 0
    else
      log_error "${EXEC_COMMAND[@]} failed on Attempt ${ATTEMPT_NUMBER}/${MAX_ATTEMPTS}. Will try again in ${SLEEP_TIME_SECONDS} seconds"
      sleep ${SLEEP_TIME_SECONDS}
      ((ATTEMPT_NUMBER++))
    fi
  done
  exit_fail "${EXEC_COMMAND[@]} failed after all attempts, exiting .."
}