# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# List of new packages you would like to automatically install on all your SOCA nodes
# Ensure the packages are available on all distro, otherwise directly edit the ADD_PKGS directly on the "os" folder

USER_EXTRA_PKGS=(
  telnet
)