#!/bin/bash -xe

# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

{% include "templates/linux/common.sh.j2" %}

log_info "Setup Start Date: $(date)"

# Prevent script to be executed twice (or more)
if [[ -f "/root/.soca_bootstrap_controller_{{ context.get('/configuration/ClusterId') }}_completed" ]]; then
  exit_fail "/root/.soca_bootstrap_controller_{{ context.get('/configuration/ClusterId') }}_completed already exist. To prevent configuration overwrite, we exit the script, since this machine seems to be already configured"
fi

# Install SOCA Cache
{% include "templates/linux/cache_client.sh.j2" %}

# Install JQ
{% include "templates/linux/jq.sh.j2" %}

# Note: OpenPBS must be installed with system python
log_info "Using Scheduler Engine: OpenPBS"
{% include "templates/linux/scheduler/openpbs/install.sh.j2" %}

{% include "templates/linux/scheduler/openpbs/configure_server.sh.j2" %}

# Set custom PATH
{% set PATH = '/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/pbs/bin:/opt/pbs/sbin:/opt/pbs/bin:/apps/soca/' ~ context.get("/configuration/ClusterId") %}
PATH="/apps/soca/{{ context.get("/configuration/ClusterId") }}/python/latest/bin:$PATH"
set_environment_variable "PATH" "{{ PATH }}"

source /etc/environment

# Configure User Directory (AD/OpenLDAP)
{% if context.get("/configuration/UserDirectory/provider") in ["existing_openldap", "openldap"] %}
  {% if context.get("/configuration/UserDirectory/provider") == "existing_openldap" %}
    {% include "templates/linux/openldap_client.sh.j2" %}
  {% else %}
    {% include "templates/linux/openldap_server.sh.j2" %}
  {% endif %}
{% elif context.get("/configuration/UserDirectory/provider") in ["existing_active_directory", "aws_ds_managed_activedirectory" , "aws_ds_simple_activedirectory"] %}
  {% include "templates/linux/join_activedirectory.sh.j2" %}
{% else %}
  exit_fail "UserDirectory/provider must be openldap, existing_openldap, aws_ds_simple_activedirectory, existing_active_directory or aws_ds_managed_activedirectory, detected {{ context.get("/configuration/UserDirectory/provider") }}"
{% endif %}

# Disable SELINUX
{% include "templates/linux/disable_selinux.sh.j2" %}

# Disable SSH StrictHostKey Checking
{% include "templates/linux/disable_ssh_strict_host_key_check.sh.j2" %}

# Configure Chronyd
{% include "templates/linux/chronyd.sh.j2" %}

# Disable ulimits
{% include "templates/linux/disable_ulimits.sh.j2" %}

# Install NodeJS
{% include "templates/linux/nodejs.sh.j2" %}

# Install required Node modules
npm install --prefix "/apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/web_interface/static" monaco-editor@0.52.0

# Reload OpenPBS
systemctl restart pbs

# Create crontabs
echo "
# SOCA Info: Add export SOCA_DEBUG=1 to enable DEBUG capability
# ex: export SOCA_DEBUG=1; source /etc/environment; /apps/soca/{{ context.get("/configuration/ClusterId") }}/python/latest/bin/python3  /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/nodes_manager.py

###################
# Cluster Analytics
###################

* * * * * source /etc/environment; /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/analytics/wrapper.sh cluster_nodes_tracking
@hourly source /etc/environment; /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/analytics/wrapper.sh job_tracking
*/10 * * * * source /etc/environment; /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/analytics/wrapper.sh desktop_hosts_tracking

########################
# Cluster Log Management
########################

@daily source /etc/environment; /bin/bash /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/logs_management/send_logs_s3.sh

####################
# Cluster Management
####################

* * * * * source /etc/environment;  /apps/soca/{{ context.get("/configuration/ClusterId") }}/python/latest/bin/python3  /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/nodes_manager.py

# Automatic Host Provisioning
* * * * * source /etc/environment;  /apps/soca/{{ context.get("/configuration/ClusterId") }}/python/latest/bin/python3 /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/dispatcher.py -c /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/settings/queue_mapping.yml -t compute
* * * * * source /etc/environment;  /apps/soca/{{ context.get("/configuration/ClusterId") }}/python/latest/bin/python3 /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/dispatcher.py -c /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/settings/queue_mapping.yml -t job-shared
* * * * * source /etc/environment;  /apps/soca/{{ context.get("/configuration/ClusterId") }}/python/latest/bin/python3 /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/dispatcher.py -c /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/settings/queue_mapping.yml -t test

# Add/Remove DCV hosts and configure ALB
*/3 * * * * source /etc/environment; /apps/soca/{{ context.get("/configuration/ClusterId") }}/python/latest/bin/python3 /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/dcv_alb_manager.py >> /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/orchestrator/logs/dcv_alb_manager.log 2>&1

################
# Cluster Web UI
################

# Restart UI at reboot
@reboot /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/web_interface/socawebui.sh start

" | crontab -

# Generate 10 years internal SSL certificate for Soca Web UI
pushd /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/web_interface
openssl req -new -newkey rsa:4096 -days 3650 -nodes -x509 \
    -subj "/C=US/ST=California/L=Sunnyvale/CN=internal.soca.webui.cert" \
    -keyout cert.key -out cert.crt

# Append the cluster name on the SOCA HTML template
IFS="-" read name sanitized_cluster_name <<< "echo {{ context.get("/configuration/ClusterId") }}"
sed -i "s/__SOCA_CLUSTER__NAME__/${sanitized_cluster_name}/g" /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/web_interface/templates/common/horizontal_menu_bar.html

# Start Web UI
chmod +x /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/web_interface/socawebui.sh
./socawebui.sh start

# Wait until the endpoint is reachable
sleep 30

START_WEB_UI_MAX_ATTEMPT=10
START_WEB_UI_CURRENT_ATTEMPT=0
while [[ "$(curl https://localhost:8443/ping --insecure  -s -o /dev/null -w '%{http_code}')" != "200" ]]; do
  ((START_WEB_UI_CURRENT_ATTEMPT=START_WEB_UI_CURRENT_ATTEMPT+1))
  if [[ $START_WEB_UI_CURRENT_ATTEMPT -ge $START_WEB_UI_MAX_ATTEMPT ]]; then
      exit_fail "error: Timed out waiting for starting the web interface. please check uwsgi logs under /apps/soca/"{{ context.get("/configuration/ClusterId") }}"/cluster_manager/web_interface/logs/ and run the create user command manually."
  fi
  log_info "Web UI is not returning HTTP/200 ... restarting process ... "
  ./socawebui.sh stop
  sleep 10
  ./socawebui.sh start
  sleep 30
done
log_info "Web UI is ready and serving requests ... "

# Create default home structure
mkdir -p /data/home

# Create default AD Admin Group if needed
SOCA_DEFAULT_ADMIN_USER=$(get_secret "/soca/{{ context.get("/configuration/ClusterId") }}/SocaAdminUser")

{% if context.get("/configuration/UserDirectory/provider") in ["aws_ds_managed_activedirectory", "aws_ds_simple_activedirectory"] %}
  SOCA_AD_ADMINS_SEARCH_BASE="{{ context.get("/configuration/UserDirectory/admins_search_base") | lower }}"
  SOCA_AD_ADMIN_GROUP_NAME=$(echo ${SOCA_AD_ADMINS_SEARCH_BASE} | awk -F'[,=]' '{print $2}')
  MAX_CREATE_ADMIN_GROUP_ATTEMPT=5
  CREATE_ADMIN_GROUP_ATTEMPT_COUNT=0
  log_info "Creating default SOCA Admin Group on Directory Service"
  while true; do
    REQUEST_HTTP_CODE_CREATE_GROUP=$(curl --silent -k -H "X-SOCA-TOKEN: $(cat /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/web_interface/keys/admin_api_key.txt)" \
      --data-urlencode "group=${SOCA_AD_ADMIN_GROUP_NAME}"  \
      -w "%{http_code}" -o ${SOCA_BOOTSTRAP_LOGS_FOLDER}/create_admin_group.log -X POST https://127.0.0.1:8443/api/ldap/group)

    if [[ ${REQUEST_HTTP_CODE_CREATE_GROUP} == "200" ]]; then
      log_info "SOCA Admin Group created successfully."
      break
    else
      log_info "Unable to create SOCA Admin Group due to $(cat ${SOCA_BOOTSTRAP_LOGS_FOLDER}/create_admin_group.log), trying again soon ..."
      ((CREATE_ADMIN_GROUP_ATTEMPT_COUNT++))

      if [[ ${CREATE_ADMIN_GROUP_ATTEMPT_COUNT} -ge ${MAX_CREATE_ADMIN_GROUP_ATTEMPT} ]]; then
        echo "Unable to create SOCA Admin Group after ${MAX_CREATE_ADMIN_GROUP_ATTEMPT} attempts, bootstrap sequence will continue."
        break
      fi
      sleep 10
    fi
  done
{% elif context.get("/configuration/UserDirectory/provider") in ["existing_active_directory", "existing_openldap"]  %}
  log_info "Using an existing Active Directory or OpenLDAP, skipping Admin Group Creation"
{% endif %}


{% if context.get("/configuration/UserDirectory/provider") not in ["existing_active_directory", "existing_openldap"]  %}
  # Create default LDAP user with admin privileges
  MAX_CREATE_USER_ATTEMPT=5
  CREATE_USER_ATTEMPT_COUNT=0
  while true; do
    REQUEST_HTTP_CODE_CREATE_USER=$(curl --silent -k -H "X-SOCA-TOKEN: $(cat /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager/web_interface/keys/admin_api_key.txt)" \
      --data-urlencode "user=$(echo ${SOCA_DEFAULT_ADMIN_USER} | jq -r ". | fromjson.username")" \
      --data-urlencode "password=$(echo ${SOCA_DEFAULT_ADMIN_USER} | jq -r ". | fromjson.password")" \
      --data-urlencode "sudoers=1" \
      --data-urlencode "email=admin@soca" \
      --data-urlencode "uid=0" \
      --data-urlencode "gid=0" \
      -w "%{http_code}" -o ${SOCA_BOOTSTRAP_LOGS_FOLDER}/create_new_user.log -X POST https://127.0.0.1:8443/api/ldap/user)

    if [[ ${REQUEST_HTTP_CODE_CREATE_USER} == "200" ]]; then
      log_info "User created successfully."
      break
    else
      log_info "Unable to create new user due to $(cat ${SOCA_BOOTSTRAP_LOGS_FOLDER}/create_new_user.log), trying again soon ..."
      ((CREATE_USER_ATTEMPT_COUNT++))

      if [[ ${CREATE_USER_ATTEMPT_COUNT} -ge ${MAX_CREATE_USER_ATTEMPT} ]]; then
        log_info "Unable to create user after ${MAX_CREATE_USER_ATTEMPT} attempts, bootstrap sequence will continue."
        break
      fi

      sleep 10
    fi
  done
{% else %}
  log_info "Using an existing Active Directory or OpenLDAP, skipping User Creation"
{%  endif %}

# Re-enable ssh access
{% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "rhel7", "rhel8", "rhel9") %}
     usermod --shell /bin/bash ec2-user
{% elif context.get("/configuration/BaseOS") == "centos7" %}
     usermod --shell /bin/bash centos
{% endif %}

#  TODO Disable SSH for everyone else or restrict to sudoers only
{% include "templates/linux/scheduler/openpbs/disable_local_account_job_submission.sh.j2" %}

# Tag EBS disks manually as CFN ASG does not support it
{% include "templates/linux/tags/ebs.sh.j2" %}

# Tag Network Interface for the Compute Node
{% include "templates/linux/tags/eni.sh.j2" %}

# Enforce minimum permissions for SOCA directory
chmod 600 /apps/soca/{{ context.get("/configuration/ClusterId") }}
chmod 600 /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_manager
chmod 600 /apps/soca/{{ context.get("/configuration/ClusterId") }}/cluster_node_bootstrap

# Configure Message Of The Day (MOTD)
{% include "templates/linux/motd.sh.j2" %}

# Restart/Enable crond
systemctl enable crond
systemctl restart crond

# Create bootstrap lock
touch "/root/.soca_bootstrap_controller_{{ context.get('/configuration/ClusterId') }}_completed"

# Install CloudWatch Log Agent
{% include "templates/linux/aws_cloudwatch_agent.sh.j2" %}

# Todo? run some awscli describe-instance and populate the cache?

# Install OpenMPI
{% include "templates/linux/openmpi.sh.j2" %}