#!/bin/bash -xe

# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

############
# setup_post_reboot.sh is generated via /opt/soca/{{ context.get("/configuration/ClusterId") }}/cluster_node_bootstrap/compute_node/setup_post_reboot.sh.j2 template
############
# Log Path: /opt/soca/{{ context.get("/configuration/ClusterId") }}/cluster_node_bootstrap/logs/compute_node/{{ context.get("/job/JobId") }}/<HOST_IP>/setup_post_reboot.log
############

# Load common functions
{% include "templates/linux/common.sh.j2" %}

# Validate umask
{% include "templates/linux/umask.sh.j2" %}

# Stop/Disable scheduler if running
{% include "templates/linux/scheduler/stop_scheduler_services.sh.j2" %}

log_info "Setup Post Reboot Start Date: $(date)"

log_info "Removing previous reboot_required"
unset_reboot_required

log_info "Remove this script from the crontab table to avoid being executed twice"
crontab -l | grep -v $(readlink -f "$0") | crontab -

# Detect if GPU is available
GPU_DETECTED=$(ec2_describe_instance_types "GpuInfo.Gpus[].Manufacturer")

log_info "GPU Detected (if any): ${GPU_DETECTED}"

if [[ -n ${GPU_DETECTED} ]]; then

  # GPU Management for both AMD and NVIDIA
  # Reboot has been initiated on setup.sh to load the new kernel after system update
  {% include "templates/linux/gpu/install_drivers.sh.j2" %}

  # Optional GPU Optimization for NVIDIA
  if [[ ${GPU_DETECTED} == "NVIDIA" ]]; then
    log_info "GPU Optimization can takes several minutes to run and is disabled by default. Uncomment the line below if you want to activate it"
    {# include "templates/linux/gpu/optimize_gpu.sh.j2" #}
  fi
else
  log_info "No GPU detected on this machine"
fi

# Install EFA if needed
{% if context.get("/job/Efa", False) %}
  {% include "templates/linux/efa.sh.j2" %}
{% endif %}

# Configure FSx for Lustre if needed
{% if context.get("/job/FSxLustreConfiguration", {}) %}
  {% if context.get("/job/FSxLustreConfiguration").get("fsx_lustre") or context.get("/job/FSxLustreConfiguration").get("existing_fsx") %}
    {% include "templates/linux/shared_storage/mount_fsx_lustre.sh.j2" %}
    # FSx_Lustre will be mounted on this path
    FSX_LUSTRE_MOUNT_PATH="/fsx_lustre"
    mkdir -p ${FSX_LUSTRE_MOUNT_PATH}

    # Deploy an ephemeral FSxL, filesystem will be destroyed once the job is completed
    {% if context.get("/job/FSxLustreConfiguration").get("fsx_lustre") %}
      log_info "detected Ephemeral FSx for Lustre specific to this job"
      # Retrieve FSxL Arn assigned to this job
      FSX_ARN=$(aws_cli resourcegroupstaggingapi get-resources \
        --tag-filters "Key=soca:FSxL,Values=true" "Key=soca:JobId,Values={{ context.get("/job/JobId") }}" "Key=soca:ClusterId,Values={{ context.get("/configuration/ClusterId") }}"  \
        --query ResourceTagMappingList[].ResourceARN --output text)
      log_info "Retrieved FSx Arn: ${FSX_ARN}"
      FSX_ID="$(echo "${FSX_ARN}" | cut -d/ -f2)"
      log_info "Retrieved FSx Lustre FileSystemId: ${FSX_ID}"
      mount_fsx_lustre --mount-target="${FSX_ID}" --mount-path="${FSX_LUSTRE_MOUNT_PATH}"

    # Mount an existing FSx for Lustre filesystem ID
    {% elif context.get("/job/FSxLustreConfiguration").get("existing_fsx") %}
      log_info "detected Existing FSx ID {{ context.get("/job/FSxLustreConfiguration").get("existing_fsx") }}  for Lustre specific to this job"
      mount_fsx_lustre --mount-target={{ context.get("/job/FSxLustreConfiguration").get("existing_fsx") }} --mount-path="${FSX_LUSTRE_MOUNT_PATH}"

    {% endif %}
    # Include FSxL client tuning pre-reboot
    {% include "templates/linux/shared_storage/fsx/lustre/client_tuning_prereboot.sh.j2" %}
  {% endif %}
{% endif %}

# Disable HyperThreading
{% if not context.get("/job/ThreadsPerCore", False) %}
  {% include "templates/linux/disable_hyperthreading.sh.j2" %}
{% endif %}

{% if context.get("/configuration/BaseOS") in ("ubuntu2204", "ubuntu2404") %}
  # Fix for Ubuntu - https://forum.snapcraft.io/t/11209
  {% include "templates/linux/snap_fix_homedirectory.sh.j2" %}
{% endif %}

# Check if machine is a virtual desktop, if yes install additional packages such as Gnome, DCV
{% include "compute_node/extra/virtual_desktop.sh.j2" %}

# Optional - End-User Customization
{% include "compute_node/04_setup_user_customization.sh.j2" %}

# Setup final MOTD
{% include "templates/linux/motd.sh.j2" %}

log_info "Setup Post Reboot End Date: $(date)"

# Check if a final reboot is needed, otherwise mount all disks and start scheduler
REBOOT_REQUIRED=$(get_reboot_required)
if [[ "${REBOOT_REQUIRED}" == "no" ]]; then
    # Start schedulers
    {% include "templates/linux/scheduler/start_scheduler_services.sh.j2" %}
    log_info "Bootstrap Sequence Completed: Node Ready"
else
    # One last reboot is needed, SOCA will create a run-once service
    FINAL_SCRIPT_PATH="/root/soca_final_reboot_setup.sh"
    SERVICE_NAME="soca-final-reboot-run-once.service"
    log_info "Final reboot needed, preparing ${FINAL_SCRIPT_PATH} to be executed post final reboot, this will only be executed after the next reboot via ${SERVICE_NAME} service"
    
    # import use 'EOF' and not EOF as we do not want to do shell variables expansion here 
    cat << 'EOF' > ${FINAL_SCRIPT_PATH}
#!/bin/bash

{% if context.get("/job/FSxLustreConfiguration", {}) %}
  {% if context.get("/job/FSxLustreConfiguration").get("fsx_lustre") or context.get("/job/FSxLustreConfiguration").get("existing_fsx") %}
    # Post-Mount FSxL perf tuning
   {% include "templates/linux/shared_storage/fsx/lustre/client_tuning_postmount.sh.j2" %}
  {% endif %}
{% endif %}

{% if not context.get("/job/ThreadsPerCore", False) %}
  {% include "templates/linux/disable_hyperthreading.sh.j2" %}
{% endif %}

{% include "templates/linux/scheduler/start_scheduler_services.sh.j2" %}

echo "Disable this service so it won't run again, do not use bash variable expansion here"
systemctl disable __SERVICE_NAME__
rm -f /etc/systemd/system/__SERVICE_NAME__
systemctl daemon-reload

echo "Final Post Reboot script executed."
EOF
    # Replacing the value as we do not want to render shell variable at the cat << 'EOF' ophase
    sed -i "s#__SERVICE_NAME__#${SERVICE_NAME}#g" ${FINAL_SCRIPT_PATH}

    cat << EOF > /etc/systemd/system/${SERVICE_NAME}
[Unit]
Description=Run very final SOCA configuration after the 2nd reboot -if needed-. This is meant to be only executed one
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash ${FINAL_SCRIPT_PATH} >> ${FINAL_SCRIPT_PATH}.log
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
EOF

    systemctl daemon-reload
    systemctl enable ${SERVICE_NAME}
    unset_reboot_required
    reboot
fi


