# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

{% include "templates/linux/system_packages/os/base_packages/debian_based_distributions.sh.j2" %}

log_info "No extra package configuration needed for Ubuntu 22.04"