{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <br>

            {% if category == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message | safe }} </strong>
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>

            </div>

            {% elif category == "info" %}
                 <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>{{ message | safe }} </strong>
                       <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
            {% else %}
                 <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message | safe }} </strong>
                       <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}