<ul class="navbar-nav bg-aws sidebar sidebar-dark accordion" id="accordionSidebar">
  
    <!-- <li class="nav-item mt-3 {{ 'active-section' if CURRENT_PATH.endswith('/containers') or CURRENT_PATH.endswith('/containers/my_jobs') else '' }}">
        <a class="nav-link sidebar-heading align-items-center w-100" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProfile" aria-expanded="true" aria-controls="collapseContainer">
            <span class="flex-grow-1">{{ user | capitalize }}'s Profile</span>
             <i class="fa-solid fa-angles-down" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);"></i>
        </a>
        <div id="collapseProfile" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/ssh">My SSH access</a>
                <a class="collapse-item" href="/my_account">My Account</a>
                <a class="collapse-item" href="/my_api_key">My API Key (Developer mode)</a>
                <hr class="dropdown-divider">
                <a class="collapse-item" href="/logout">Logout</a>
            </div>
        </div>
    </li> -->

    <div class="mt-3 sidebar-heading d-flex align-items-center">
        Menu
    </div>

    

      
    {% set file_browser_flag = feature_flags.get("FILE_BROWSER", {}) %}
    {% set fb_allowed = file_browser_flag.get("allowed_users", []) %}
    {% set fb_denied = file_browser_flag.get("denied_users", []) %}
    {% set fb_show = file_browser_flag.get("enabled", True)
        and (fb_allowed == [] or user in fb_allowed)
        and user not in fb_denied %}
    {% if fb_show %}
    <li class="nav-item {{ 'active-section' if '/file_explorer' in CURRENT_PATH else '' }}">
        <a class="nav-link" href="/file_explorer">
            <span>File Explorer</span>
        </a>
    </li>
    {% endif %}
    
    {% set virtual_desktops_flag = feature_flags.get("VIRTUAL_DESKTOPS", {}) %}
    {% set vd_allowed = virtual_desktops_flag.get("allowed_users", []) %}
    {% set vd_denied = virtual_desktops_flag.get("denied_users", []) %}
    {% set vd_show = virtual_desktops_flag.get("enabled", True)
        and (vd_allowed == [] or user in vd_allowed)
        and user not in vd_denied %}
    {% if vd_show %}
    <li class="nav-item {{ 'active-section' if CURRENT_PATH.endswith('/virtual_desktops') else '' }}">
        <a class="nav-link" href="/virtual_desktops">
            <span>Virtual Desktops</span>
        </a>
    </li>
    {% endif %}

    {% set target_nodes_flag = feature_flags.get("TARGET_NODES", {}) %}
    {% set tn_allowed = target_nodes_flag.get("allowed_users", []) %}
    {% set tn_denied = target_nodes_flag.get("denied_users", []) %}
    {% set tn_show = target_nodes_flag.get("enabled", True)
        and (tn_allowed == [] or user in tn_allowed)
        and user not in tn_denied %}
    {% if tn_show %}
    <li class="nav-item {{ 'active-section' if CURRENT_PATH.endswith('/target_nodes') else '' }}">
        <a class="nav-link" href="/target_nodes">
            <span>Target Nodes</span>
        </a>
    </li>
    {% endif %}

    {% set container_eks_flag = feature_flags.get("CONTAINERS_MANAGEMENT_EKS", {}) %}
    {% set containers_eks_allowed = container_eks_flag.get("allowed_users", []) %}
    {% set containers_eks_denied = container_eks_flag.get("denied_users", []) %}
    {% set containers_eks_show = container_eks_flag.get("enabled", True)
            and (containers_eks_allowed == [] or user in containers_eks_allowed)
            and user not in containers_eks_denied %}
    {% if containers_eks_show %}
    <li class="nav-item {{ 'active-section' if CURRENT_PATH.endswith('/containers/images') or CURRENT_PATH.endswith('/containers/eks/list') or CURRENT_PATH.endswith('/containers/eks/setup') else '' }}">
        <a class="nav-link align-items-center w-100" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEKSContainer" aria-expanded="true" aria-controls="collapseContainer">
            <span class="flex-grow-1">Amazon EKS Containers</span>
             <i class="fa-solid fa-angles-down" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);"></i>
        </a>
        <div id="collapseEKSContainer" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/containers/images">Launch EKS Container</a>
                <a class="collapse-item" href="/containers/eks/list">My EKS Containers</a>
            </div>
        </div>
    </li>
    {% endif %}

    {% set container_batch_flag = feature_flags.get("CONTAINERS_MANAGEMENT_BATCH", {}) %}
    {% set containers_batch_allowed = container_batch_flag.get("allowed_users", []) %}
    {% set containers_batch_denied = container_batch_flag.get("denied_users", []) %}
    {% set containers_batch_show = container_batch_flag.get("enabled", True)
            and (containers_batch_allowed == [] or user in containers_batch_allowed)
            and user not in containers_batch_denied %}
    {% if containers_batch_show %}
    <li class="nav-item {{ 'active-section' if CURRENT_PATH.endswith('/containers/batch/setup') or CURRENT_PATH.endswith('/containers/batch/list') else '' }}">
        <a class="nav-link align-items-center w-100" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBatchContainer" aria-expanded="true" aria-controls="collapseContainer">
            <span class="flex-grow-1">AWS Batch Containers</span>
             <i class="fa-solid fa-angles-down" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);"></i>
        </a>
        <div id="collapseBatchContainer" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">            
                    <a class="collapse-item" href="/containers/batch/setup">Launch Batch Job</a>
                    <a class="collapse-item" href="/containers/batch/list">My Batch Jobs</a>
            </div>
        </div>
    </li>
    {% endif %}

    {% set hpc_flag = feature_flags.get("HPC", {}) %}
    {% set hpc_allowed = hpc_flag.get("allowed_users", []) %}
    {% set hpc_denied = hpc_flag.get("denied_users", []) %}
    {% set hpc_show = hpc_flag.get("enabled", True)
        and (hpc_allowed == [] or user in hpc_allowed)
        and user not in hpc_denied %}
    {% if hpc_show %}
    <li class="nav-item  {{ 'active-section' if CURRENT_PATH == '/my_jobs' else '' }}">
        <a class="nav-link" href="/my_jobs">
            <span>My HPC Jobs</span>
        </a>
    </li>
    {% endif %}

    {% set analytics_flag = feature_flags.get("ANALYTICS_COST_MANAGEMENT", {}) %}
    {% set analytics_allowed = analytics_flag.get("allowed_users", []) %}
    {% set analytics_denied = analytics_flag.get("denied_users", []) %}
    {% set analytics_show = analytics_flag.get("enabled", True)
        and (analytics_allowed == [] or user in analytics_allowed)
        and user not in analytics_denied %}
    {% if analytics_show %}
    <hr class="sidebar-divider">
    <div class="sidebar-heading">Analytics / Budget</div>

    <li class="nav-item">
        <a class="nav-link" href="/my_activity">
            <span>Cluster Metrics</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link"
           href="https://awslabs.github.io/engineering-development-hub-documentation/documentation/budget/prevent-overspend-hpc-cost-on-aws-soca/"
           target="_blank" rel="noopener,noreferrer">
            <span>Cost Management <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
        </a>
    </li>
    {% endif %}

    {% if admin %}
    <hr class="sidebar-divider d-none d-md-block">
    <div class="sidebar-heading">Admin Section</div>

    <li class="nav-item">
        <a class="nav-link align-items-center w-100" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProjects" aria-expanded="true" aria-controls="collapseVDI">
            <span class="flex-grow-1">EDH Projects</span>
            <i class="fa-solid fa-angles-down" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);"></i>

        </a>
        <div id="collapseProjects" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/projects">Projects</a>
                <a class="collapse-item" href="/admin/projects/by_user">User Membership</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link align-items-center w-100" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProfile" aria-expanded="true" aria-controls="collapseProfile">
            <span class="flex-grow-1">EDH Profiles</span>
            <i class="fa-solid fa-angles-down" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);"></i>

        </a>
        <div id="collapseProfile" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/virtual_desktops/profiles">Virtual Desktop</a>
                <a class="collapse-item" href="/admin/target_nodes/profiles">Target Node</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
    <a class="nav-link align-items-center w-100" href="#" data-bs-toggle="collapse" data-bs-target="#collapeSoftareStack" aria-expanded="true" aria-controls="collapeSoftareStack">
        <span class="flex-grow-1">EDH Software Stacks</span>
        <i class="fa-solid fa-angles-down" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);"></i>

    </a>
        <div id="collapeSoftareStack" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/virtual_desktops/software_stacks">Virtual Desktop</a>
                <a class="collapse-item" href="/admin/target_nodes/software_stacks">Target Nodes</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link align-items-center w-100" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAdvance" aria-expanded="true" aria-controls="collapseAdvance">
            <span class="flex-grow-1">Advanced Settings</span>
                         <i class="fa-solid fa-angles-down" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);"></i></a>
        <div id="collapseAdvance" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Virtual Desktops</h6>
                <a class="collapse-item" href="/admin/virtual_desktops/list_all">List all Virtual Desktops</a>
                <h6 class="collapse-header">Target Nodes</h6>
                 <a class="collapse-item" href="/admin/target_nodes/user_data">User Data Templates</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/users">
            <span>Users Management</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/groups">
            <span>Groups Management</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/applications">
            <span>Workflows Management</span>
        </a>
    </li>
    {% endif %}

       <div class="pt-3 text-center d-none d-md-inline mt-auto">
            <i id="sidebarToggle" class="ml-auto"></i>
        </div>

</ul>