<!--
# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common/header.html' %}
    <script>
        function formatBytes(a, b) {
            if (0 == a) return "0 Bytes";
            let c = 1024, d = b || 2, e = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"],
                f = Math.floor(Math.log(a) / Math.log(c));
            return parseFloat((a / Math.pow(c, f)).toFixed(d)) + " " + e[f]
        }
    </script>
</head>

<body id="page-top" class="sidebar-toggled">
{% include 'common/horizontal_menu_bar.html' %}
<div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" style="margin-top: 20px;">
            <div class="container-fluid">
                {% include 'common/flashed_messages.html' %}
                <main role="main">
                    <div class="row">
                        <div class="col-md-12">
                             <div class="card shadow mb-4">
                
                            <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <h3 class="mb-0" data-toggle="tooltip" data-placement="top" title="Your workspace contains all your data stored on EDH filesystem. By default, /apps and /data are shared and accessible from all EDH nodes. You can mount additional filesystems as needed.">File Explorer <i class="fas fa-question-circle"></i></h3>
                                    </div>
                                 <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link active" id="explorer-tab" data-bs-toggle="tab" href="#explorer" role="tab" aria-controls="sftp" aria-selected="true">File Explorer</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="edh-transfer-tab" data-bs-toggle="tab" href="#edh-transfer" role="tab" aria-controls="edh-transfer" aria-selected="false">Data Transfer to/from EDH</a>
                                  </li>
                                </ul>

                            <div class="tab-content" id="myTabContent">                      
                                <div class="tab-pane fade show active" id="explorer" role="tabpanel" aria-labelledby="explorer-tab">
                                    <br>

                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/file_explorer?ts={{ timestamp }}"><i
                                                    class="fas fa-home"></i></a></li>
                                            {% for path,folder_name in breadcrumb.items() %}
                                                <li class="breadcrumb-item"><a
                                                        href="/file_explorer?path={{ path | urlencode }}&ts={{ timestamp }}">{{ folder_name }}</a>
                                                </li>
                                            {% endfor %}

                                            {% if is_cached == True %}
                                                <form class="ml-auto" action="/file_explorer/flush_cache" method="post">
                                                    <input type="hidden" name="path" value="{{ path }}">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <button data-toggle="tooltip" data-placement="top"
                                                            title="This folder is cached for better performance and automatically refreshed every {{ default_cache_time/ 60 }} minutes. If you have made a change via SSH/Graphical session and this is not visible yet, you can manually invalidate the cache to load the latest updates"
                                                            class="btn btn-secondary btn-sm" type="submit"><i
                                                            class="fas fa-sync"></i> Missing files? Refresh folder cache
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </ol>
                                    </nav>

                                <!-- Modal -->
                                <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Upload your content to
                                                    EDH</h5>
                                                <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="update-div"></div>
                                                <form action="/upload" id="drop" class="dropzone"
                                                    style="border: 2px dashed #0087F7;height: 500px">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple/>
                                                    </div>
                                                </form>
                                                <hr>
                                                Do not close the page while uploading.<br>
                                                Upload limited to {{ max_upload_size / 1024 }} GB
                                                and {{ max_upload_timeout / 60000 }} minutes timeout. Use the <a
                                                    href="/sftp">EDH SFTP solution</a> for larger files or edit the
                                                configuration files.
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="text" id="searchFiles" class="form-control"
                                            placeholder="Search for a file or a folder" aria-controls="list_files_table">
                                    </div>
                                    {% if get_all_uid_count > 0 %}
                                        <div class="col-md-2">
                                            <div id="div_download_all">
                                                <a href="/file_explorer/download_all?path={{ path | urlencode }}&ts={{ timestamp }}">
                                                    <button type="button" data-toggle="tooltip" data-placement="top"
                                                            title="Download all {{ get_all_uid_count }} files on this folder"
                                                            class="btn btn-primary form-control">Download all
                                                    </button>
                                                </a>
                                            </div>
                                            <a id="link_download_selected" href="#" style="display: none">
                                                <button id="btn_download_selected" data-toggle="tooltip"
                                                        data-placement="top" title="Download selected files" type="button"
                                                        class="btn btn-primary form-control">Download selected
                                                </button>
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-3">
                                        <form class="form-inline" method="POST" action="/file_explorer/create_folder">
                                            <div class="input-group">
                                                <input type="text" size="25" class="form-control" name="folder_name"
                                                    required placeholder="Folder Name">
                                                <div class="input-group-append">
                                                    <input type="hidden" name="path" value="{{ path }}/">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <button class="btn btn-success" style="border: 0px solid #00802f" type="submit">Create Folder</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-warning form-control" data-bs-toggle="modal"
                                                data-bs-target="#uploadModal">Upload file(s)
                                        </button>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br>
                                        <table id="list_files_table" class="table row-border" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Size</th>
                                                <th>Last Modified</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for file_name,file_data in filesystem.items() %}
                                                <tr>
                                                    <td>
                                                        {% if file_data.type == "folder" %}
                                                            <i class="far fa-folder-open fa-lg"></i>
                                                            <strong><a
                                                                    href="/file_explorer?path={{ file_data.path | urlencode }}&ts={{ timestamp }}"> {{ file_name }}</a></strong>
                                                            <div class="float-right">
                                                                <a href="/file_explorer/delete?uid={{ file_data.uid }}"><i
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Delete the folder"
                                                                        class="fas fa-trash-alt fa-lg"
                                                                        style="color: grey"></i></a>
                                                            </div>
                                                        {% else %}
                                                            {% if file_data.st_size_default > max_online_preview %}
                                                                <i class="far fa-question-circle form-check-input"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="This file is too big to be compressed via web. Download file separately or use SFTP."></i>
                                                            {% else %}
                                                                <input type="checkbox" onchange="SelectedFiles(this.id)"
                                                                    class="form-check-input" id="{{ file_data.uid }}">
                                                            {% endif %}

                                                            {% if file_name.endswith('.png') or file_name.endswith('.jpg') or file_name.endswith('.jpeg') %}
                                                                <i class="far fa-file-image fa-lg"></i>
                                                            {% elif file_name.endswith('.zip') or file_name.endswith('.tgz') or file_name.endswith('.tar.gz') or file_name.endswith('.rar') or file_name.endswith('.7z') %}
                                                                <i class="far fa-file-archive fa-lg"></i>
                                                            {% elif file_name.endswith('.pdf') %}
                                                                <i class="far fa-file-pdf fa-lg"></i>
                                                            {% elif file_name.endswith('.ppt') or file_name.endswith('.pptx') %}
                                                                <i class="far fa-file-powerpoint fa-lg"></i>
                                                            {% elif file_name.endswith('.csv') %}
                                                                <i class="fas fa-file-csv fa-lg"></i>
                                                            {% elif file_name.endswith('.avi') or file_name.endswith('.mkv') or file_name.endswith('.mpg') %}
                                                                <i class="far fa-file-video fa-lg"></i>
                                                            {% elif file_name.endswith('.txt') or file_name.endswith('.log') or file_name.endswith('.cfg') or file_name.endswith('.conf') %}
                                                                <i class="far fa-file-alt fa-lg"></i>
                                                            {% else %}
                                                                <i class="far fa-file-code fa-lg"></i>
                                                            {% endif %}
                                                            <a href="/file_explorer/download?uid={{ file_data.uid }}&ts={{ timestamp }}">
                                                                {{ file_name }}
                                                            </a>

                                                            <div class="float-right">
                                                                <a href="/file_explorer/download?uid={{ file_data.uid }}&ts={{ timestamp }}"><i
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Download this file"
                                                                        class="fa fa-file-download fa-lg"
                                                                        style="color: grey"></i></a>
                                                                <a href="/submit_job?input_file={{ file_data.uid }}&ts={{ timestamp }}"><i
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Use as workflow input"
                                                                        class="fas fa-microchip fa-lg"
                                                                        style="color: grey"></i></a>
                                                                {% if file_data.st_size_default > max_online_preview %}
                                                                    <!-- Unable to edit file bigger than 150 mb via web -->
                                                                    <a style="cursor: pointer" target="_blank"
                                                                    rel="noopener,noreferrer" data-toggle="modal"
                                                                    data-target="#fileToBig"><i data-toggle="tooltip"
                                                                                                data-placement="top"
                                                                                                title="Edit this file (text file only)"
                                                                                                class="fas fa-edit fa-lg"
                                                                                                style="color: grey"></i></a>
                                                                {% else %}
                                                                    <a target="_blank" rel="noopener,noreferrer"
                                                                    href="/editor?uid={{ file_data.uid }}&ts={{ timestamp }}"><i
                                                                            data-toggle="tooltip" data-placement="top"
                                                                            title="Edit this file (text file only)"
                                                                            class="fas fa-edit fa-lg"
                                                                            style="color: grey"></i></a>
                                                                {% endif %}

                                                                <a data-bs-toggle="modal"
                                                                data-bs-target="#deleteModal{{ loop.index }}"><i
                                                                        data-bs-toggle="tooltip" data-placement="top"
                                                                        title="Delete file"
                                                                        style="cursor:pointer;color:grey"
                                                                        class="fas fa-trash-alt fa-lg"></i></a>
                                                            </div>
                                                            <!-- Begin Modal DELETE -->
                                                            <div class="modal fade" id="deleteModal{{ loop.index }}"
                                                                tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Entering the danger
                                                                                zone</h5>
                                                                            <button type="button" class="close"
                                                                                    data-bs-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>

                                                                                
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="alert alert-danger">
                                                                                <h4 class="alert-heading">Attention</h4>

                                                                                You are about to permanently delete
                                                                                <strong>{{ file_name }}</strong> from the
                                                                                filesystem. <br>
                                                                                This action cannot be reversed.
                                                                            </div>
                                                                            <a href="/file_explorer/delete?uid={{ file_data.uid }}&ts={{ timestamp }}">
                                                                                <button type="button"
                                                                                        class="btn btn-danger form-control">
                                                                                    Delete this file
                                                                                </button>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if file_data.type == "folder" %}
                                                            Directory
                                                        {% else %}
                                                            File
                                                        {% endif %}
                                                    <td>
                                                        {% if file_data.type != "folder" %}
                                                            {{ file_data.st_size }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div id="ts{{ file_data.uid }}"></div>
                                                        <script>
                                                            document.getElementById('ts{{  file_data.uid }}').innerHTML = moment.unix({{ file_data.st_mtime }}).format('YYYY/MM/DD H:mm:ss')

                                                        </script>
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            <div class="modal fade" id="fileToBig" tabindex="-1" role="dialog"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Unable to preview this file via web</h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            This file is too big and cannot be previewed via the web
                                                            interface. <br> Please <a href="/sftp"> download a copy </a> or
                                                            open it via <a href="/virtual_desktops">remote desktop (DCV)</a>
                                                            or <a href="/ssh"> cli (via SSH)</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                </div>

<div class="tab-pane fade" id="edh-transfer" role="tabpanel" aria-labelledby="edh-transfer-tab">
 <br>
    Here are some documentation to help you transfer files from/to Engineering Development Hub: <br> <br>

                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link active" id="sftp-tab" data-bs-toggle="tab" href="#sftp" role="tab" aria-controls="sftp" aria-selected="true">SFTP (easiest)</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="datasync-tab" data-bs-toggle="tab" href="#datasync" role="tab" aria-controls="datasync" aria-selected="false">AWS DataSync</a>
                                  </li>
                                    <li class="nav-item">
                                    <a class="nav-link" id="transfer-tab" data-bs-toggle="tab" href="#transfer" role="tab" aria-controls="datasync" aria-selected="false">AWS Transfer</a>
                                  </li>

                                </ul>
                                <div class="tab-content" id="myTabContent">
                                  
                                    <div class="tab-pane fade show active" id="sftp" role="tabpanel" aria-labelledby="sftp-tab">
                                        <br>
                                        <h5>Step1:
                                                    <a target="_blank" href="https://filezilla-project.org/download.php"
                                                        class="btn btn-primary btn-icon-split">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-info-circle"></i>
                                                        </span>
                                                        <span class="text">Download FileZilla <i class="fa-solid fa-arrow-up-right-from-square"></i></span></a>
                                                    </h5>
                                        <hr>                    
                                        <h5>Step2: Configure FileZilla</h4>
                                        Open FileZilla and select File > Site Manager to create a new Site

                                        <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <th>Host(s)</th>
                                                    <td><code>{{ login_nodes_endpoint }}</code></td>
                                                </tr>
                                                <tr>
                                                    <th>Port</th>
                                                    <td>22</td>
                                                </tr>
                                                <tr>
                                                    <th>Protocol</th>
                                                    <td>SFTP</td>
                                                </tr>
                                                <tr>
                                                    <th>Logon Type</th>
                                                    <td>Key File</td>
                                                </tr>
                                                <tr>
                                                    <th>User</th>
                                                    <td>{{ user }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Key File</th>
                                                    <td>/path/to/{{ user }}_soca_privatekey.pem (click <a href="/ssh">here</a> to
                                                        download your Linux private key if needed)
                                                    </td>

                                                </tr>
                                                </tbody>
                                        </table>

                                        Save the settings and click connect
                                        <hr>
                                        <h5>Step3: Connect and transfer file to FileZilla</h4>
                                        During your first connection, you will be asked whether you want to
                                        trust {{ scheduler_ip }}. Check "Always Trust this Host" and Click "Ok".
                                        <br>Once connected, simply drag & drop to upload/download files.
                                    </div>

                                    <div class="tab-pane fade" id="datasync" role="tabpanel" aria-labelledby="datasync-tab">
                                        <br>
                                       <a href="https://aws.amazon.com/datasync/" target="_blank">AWS DataSync</a> is a secure, online service that automates and accelerates moving data between on-premises and AWS storage services.
                                       <br> <br>
                                       Refer to <a href="https://docs.aws.amazon.com/datasync/latest/userguide/what-is-datasync.html" target="_blank">AWS DataSync</a> documentation to learn how to setup a secure, reliable, high‐speed file transfer between your current filers and EDH.
                                                 
                                    </div>

                                     <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab">
                                        <br>
                                       <div class="alert alert-warning">Your EDH environment must be using Amazon EFS to use AWS Transfer</div>                          
                                        
                                    <a href="https://aws.amazon.com/aws-transfer-family/" target="_blank">AWS Transfer Family</a> enables fully managed support for SFTP, FTPS and FTP to move large amounts of data into AWS.
                                    <br> <br>
                                    <h5>Step 1: Configure AWS Transfer</h5>
                                    <br>
                                    <ul>
                                        <li>Open AWS Console and navigate to the service named <b>AWS Transfer Family</b> then click <b>Create Server</b></li>
                                        <li>Select <b>SFTP (SSH File Transfer Protocol) - file transfer over Secure Shell</b></li>
                                        <li>Select <b>Service Managed</b> as identity provider</li>
                                        <li>Choose <b>Endpoint type</b> depending on your setup. It's recommended to use <b>VPC hosted</b> for IP restrictions via your security groups. <b>Publicly accessible</b> means your AWS Transfer endpoint won't be protected by IP safelist.</li>
                                        <li>Select <b>Amazon EFS</b> as Domain</li>
                                        <li>Select <b>Create a new role</b> and use the latest <b>TransferSecurityPolicy</b> available</li>
                                        . Leave everything else as default.
                                        <li>In the <b>Review and create</b> section click <b>Create server</b></li>
                                    </ul>

                                    <h5>Step 2: Create IAM role for your AWS Transfer Users</h5>
                                    <ul>
                                        <li>Open AWS Console and navigate to the service named <b>IAM</b> then click <b>Roles</b> on the left sidebar and finally click <b>Create Role</b></li>
                                        <li>Select <b>AWS Service</b> as Trusted Entity Type and select <b>Transfer</b> as Use Case</li>
                                        <li>Select the AWS managed policy named <b>AmazonElasticFileSystemClientReadWriteAccess</b></li>
                                        <li>Select a Role name (for example <b>TransferEFSClient</b> and save it</li>
                                    </ul>

                                    <h5>Step 3: Download PEM Key File (Public)</h5>
                                    <ul>
                                        <li>Download your <b>public</b> SSH key</li>
                                    </ul>

                                    <h5>Step 4: Download your PEM key File (Private)</h5>
                                    <p>Click <a href="/ssh">here</a> to download it</p>

                                    <h5>Step 5: Register your AWS Transfer Users</h5>
                                    <div class="alert alert-primary">
                                    <p>You will need your user UID/GID. You can retrieve this value by typing <b>id {user}</b> on any EDH nodes (Linux).
                                           In the example below, the UID is 5001 and GID is also 5001</p>
                                        <code>

                                            uid=5001({{user}}) gid=5001({{user}}) groups=5001({{user}})
                                        </code>

                                    </div>
                                   
                                    <p>Open AWS Console and navigate to the service named <b>AWS Transfer Family</b> select the server you have created and click <b>Add User</b> and enter the following information.</p>

                                    <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <th>Username</th>
                                                    <td>{{user}}</td>
                                                </tr>
                                                <tr>
                                                    <th>User ID</th>
                                                    <td>The Posix UID of your user you have retrieved via `id` command</td>
                                                </tr>
                                                <tr>
                                                    <th>Group ID</th>
                                                    <td>The Posix GID of your user you have retrieved via `id` command</td>
                                                </tr>
                                                <tr>
                                                    <th>Role</th>
                                                    <td>The IAM role you have created (ex: TransferEFSClient)</td>
                                                </tr>
                                                <tr>
                                                    <th>Home Directory</th>
                                                    <td>/data/home/{{ user }} (unless you have configured a different $HOME)</td>
                                                </tr>
                                                <tr>
                                                    <th>SSH Public Key</th>
                                                    <td>The content of your SSH public key retrieved during Step 3
                                                    </td>

                                                </tr>
                                                </tbody>
                                        </table>

                            
                                    <h5>Step 6: Test</h5>
                                    <p>Open AWS Console and navigate to the service named <b>AWS Transfer Family</b> select the server you have created, and retrieve the <b>Endpoint</b> under <b>Endpoint Details</b>.</p>
                                    <div class="alert alert-primary">
                                        Your endpoint use the following syntax: <b>s-{UNIQUE_ID}-.server.transfer.{AWS_REGION}.amazonaws.com</b>
                                    </div>

                                    <p>Connect to your AWS Transfer endpoint using your favorite FTP application via command line such as: </p>
                                    <code>
                                        sftp -i "/PATH/TO/PRIVATE_KEY" {{user}}@{AWS_TRANSFER_ENDPOINT}
                                    </code>
                                    <p>Alternatively, you can use WinSCP/FileZilla. Refer to the instructions available on this website and use your AWS Transfer endpoint as hostname.</p>
                                </div>
                            
                            
                            
                            
                            
                            
                            
                            
                            </div>

</div>



                            </div>
                        </div>
                        </div>


                        <script>
                            Dropzone.autoDiscover = false;

                            $("#drop").dropzone({
                                url: "/file_explorer/upload",
                                addRemoveLinks: true,
                                dictDefaultMessage: '<i class="fas fa-cloud-upload-alt fa-3x"></i> <h4>Drag and Drop files to upload or click</h4> File(s) will be uploaded under {{ path }}',
                                maxFilesize: {{max_upload_size | safe}},
                                timeout: {{max_upload_timeout | safe }},
                                params: {
                                    path: "{{ path }}/"
                                },
                                dictResponseError: 'Error uploading file!',
                                headers: {
                                    'X-CSRFToken': "{{ csrf_token() | safe }}"
                                },
                                success: function (file) {
                                    $('#update-div').append('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>' + file.name + '</strong> has been uploaded to EDH<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><div>');
                                },
                                complete: function (file, response) {
                                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                                        $('#update-div').append('<div class="alert alert-primary">All operations have completed. Page will reload automatically in 5 seconds (<a href="/file_explorer?path={{ path | urlencode }}">click here for manual reload</a>) <div>');
                                        setTimeout(() => {
                                            location.reload();
                                        }, 5000);
                                    }

                                },
                                canceled: function (file, response) {
                                    $('#update-div').append('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>' + file.name + '</strong> upload was canceled<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><div>');
                                },
                                error: function (file, response) {
                                    console.log("SOCAUploadError: " + file)
                                    console.log("SOCAUploadError: " + response)
                                    $('#update-div').append('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong> Error during ' + file.name + '</strong> upload because of ' + response + '<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><div>');

                                },
                            });


                            $(document).ready(function () {

                                // enable tooltip
                                $(function () {
                                    $('[data-toggle="tooltip"]').tooltip()
                                })

                                // build datatable
                                let dtable = $('#list_files_table').DataTable({
                                    sorting: false,
                                    paging: true,
                                    pagingType: "full_numbers",
                                    lengthMenu: [[100, 300, 500, -1], [100, 300, 500, "All"]],
                                    language: {
                                        emptyTable: "<h4>No files in this directory</h4>",
                                    },
                                    //'sDom': 'tpl',
                                    dom: "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-4'l><'col-sm-8'p>>",
                                    fixedColumns: {
                                        heightMatch: 'none'
                                    },
                                });
                                // bind search input
                                $('#searchFiles').keyup(function () {
                                    dtable.search($(this).val()).draw();
                                })
                                $('.dataTables_filter input[type="search"]').css({'display': 'none'});
                            });
                        </script>

                        <script>
                            let selected_files = []

                            function SelectedFiles(uid) {
                                let now = new Date();
                                let dl_link = document.getElementById("link_download_selected");
                                let download_all = document.getElementById("div_download_all");
                                if (document.getElementById(uid).checked) {
                                    if (selected_files.length > 40) {
                                        // URL/Payload limit. Limit the number of uid to 40
                                        document.getElementById(uid).checked = false;
                                        alert("Sorry you cannot download more than 40 files in a single call")
                                    } else {
                                        selected_files.push(uid)
                                    }
                                } else {
                                    selected_files = selected_files.filter(v => v !== uid);
                                }

                                if (selected_files.length > 0) {
                                    download_all.setAttribute("style", "display: none;");
                                    dl_link.setAttribute("style", "display: visible;");
                                    dl_link.setAttribute("href", "/file_explorer/download?uid=" + selected_files.join(',') + "&ts=" + now.getTime())
                                } else {
                                    dl_link.setAttribute("style", "display: none;");
                                    download_all.setAttribute("style", "display: visible;");
                                }
                            }
                        </script>
                    </div>
                </main>
            </div>
        </div>
    </div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


{% include 'common/footer.html' %}

</body>

</html>
