<!--
# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common/header.html' %}


</head>

<body id="page-top">
<div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <br>
            <div class="container-fluid">
                {% include 'common/horizontal_menu_bar.html' %}
                <main role="main">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                    <div class="alert alert-success">
                                        <strong>{{ message | safe }} </strong>
                                    </div>
                                {% elif category == "info" %}
                                    <div class="alert alert-info">
                                        <strong>{{ message | safe }} </strong>
                                    </div>
                                {% else %}
                                    <div class="alert alert-danger">
                                        <strong>{{ message | safe }} </strong>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="container">

                                <br>
                                {% if opensearch_enabled %}
                                    <div class="alert alert-primary">
                                        Your Analytics endpoint <strong>is only accessible from within your VPC</strong>.
                                        You can access it via your SOCA Virtual Desktops (Linux or Windows).
                                        <hr>

                                        Make sure to have established connectivity between AWS and your corporate
                                        network (e.g. via <a
                                            href='https://docs.aws.amazon.com/vpc/latest/peering/what-is-vpc-peering.html'
                                            target='_blank'>AWS VPC Peering</a>, <a
                                            href='https://aws.amazon.com/directconnect/' target='_blank'>AWS Direct
                                        Connect</a>, <a href='https://aws.amazon.com/vpn/' target='_blank'>AWS VPN</a>
                                        or similar) if you are planning to access the analytic dashboard URL from your
                                        corporate machines.
                                    </div>
                                    </div>
                                    <div class="card-body">

                                        <a href="{{ dashboard_endpoint }}" target="_blank" class="btn btn-primary">Access
                                            my Analytics Dashboard</a>
                                        <hr>

                                        <i>Note: Your Analytics Dashboard URL is <a href='{{ dashboard_endpoint }}'
                                                                                    target='_blank'>{{ dashboard_endpoint }}</a></i>
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning">
                                        SOCA Analytics module is not enabled on your SOCA environment.
                                        <hr>
                                        Contact your SOCA administrator if you want to add Analytics capability to your
                                        cluster.
                                    </div>
                                {% endif %}
                        </div>
                    </div>

                </main>
            </div>
        </div>
    </div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% include 'common/footer.html' %}


</body>

</html>
