<!--
# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common/header.html' %}
</head>

<body id="page-top">

<div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <br>
            <div class="container-fluid">
                {% include 'common/horizontal_menu_bar.html' %}
                {% include 'common/flashed_messages.html' %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Access the cluster via SSH</h6>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#linux" role="tab" aria-controls="linux" aria-selected="true"><i class="fab fa-linux"></i> Instructions for Linux/Mac</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#windows" role="tab" aria-controls="windows" aria-selected="false"><i class="fab fa-windows"></i> Instructions for Windows</a>
                                  </li>

                                </ul>
                                <div class="tab-content" id="myTabContent">
                                  <div class="tab-pane fade show active" id="linux" role="tabpanel" aria-labelledby="linux-tab">
                                       <br>
                                      <h5>Step1:
                                          <a href="/ssh/get_key"
                                             class="btn btn-primary btn-icon-split">
                                              <span class="icon text-white-50">
                                                  <i class="fas fa-info-circle"></i>
                                              </span>
                                              <span class="text">Download my private key</span></a>
                                          </h5>
                                      <hr>

                                      <h5>Step2: Modify key permission</h5>
                                      Run <code>chmod 600 {{ user }}_soca_privatekey.pem</code>

                                      <hr>

                                      <h5>Step3: Connect to the cluster via the login node(s)</h5>

                                      <code>ssh -i {{ user }}_soca_privatekey.pem {{ user }}@{{ login_nodes_endpoint }}</code>
                                      <hr>

                                      <h5>Optional: Enable KeepAlive</h5>
                                        If you don't want your session to be automatically closed after a couple of minutes of
                                        inactivity, edit <code>~/.ssh/config</code> and add:<br>
                                        <code>
                                            Host {{ login_nodes_endpoint }}<br>
                                            ServerAliveInterval 10<br>
                                            ServerAliveCountMax 2
                                        </code>
                                  </div>

                                  <div class="tab-pane fade" id="windows" role="tabpanel" aria-labelledby="windows-tab">
                                       <br>
                                      <h5>Step1:
                                          <a href="/ssh/get_key"
                                             class="btn btn-primary btn-icon-split">
                                              <span class="icon text-white-50">
                                                  <i class="fas fa-info-circle"></i>
                                              </span>
                                              <span class="text">Download my private key</span></a>
                                      </h5>
                                      <hr>
                                      <h5>Step2: Convert your SSH key</h5>
                                      Download PuttyGEN from <a href="https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html"  target="_blank" rel="noopener noreferrer">https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html</a>, then convert the key you have downloaded on step1 to <code>ppk</code> format
                                      <hr>
                                      <h5>Step3: Configure PuTTY</h5>
                                <ul>
                                    <li><a href="https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html"
                                           target="_blank" rel="noopener,noreferrer">Download PuTTY</a></li>
                                    <li>As hostname, enter the following for the Login Node load balancer endpoint:
                                        <code>{{ login_nodes_endpoint }}</code></li>
                                    <li>Navigate to Connection > SSH > Auth and enter the path of your key ({{ user }}_soca_privatekey.ppk)
                                        under your "Private Key used for Authentication"
                                    </li>
                                    <li>Save your session</li>
                                    <li>Click connect/open to access the cluster</li>
                                </ul>

                                <hr>
                                <h5>Optional: Enable KeepAlive</h5>
                                If you don't want your session to be automatically closed after a couple of minutes of
                                inactivity, go to Connection and add "3" as "Seconds between KeepAlive"
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


{% include 'common/footer.html' %}

</body>

</html>
