# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: FSx OnTap
{% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7", "rhel8", "rhel9", "rocky8", "rocky9") %}

{% include "templates/linux/shared_storage/nfs_wrapper.sh.j2" %}

function mount_fsx_ontap () {
  local ENDPOINT="${1}"
  local MOUNT_POINT="${2}" # Local linux folder to use as mountpoint
  local GET_FSX_MOUNT_PATH=$(echo "${ENDPOINT}" | cut -d":" -f2)
  if [[ -z ${GET_FSX_MOUNT_PATH} ]]; then
    log_info "FSx OnTap Junction Path  not specified, trying to retrieve it"
    GET_FSX_MOUNT_NAME=$(aws_cli fsx describe-file-systems --file-system-ids "${FSX_ID}" --query FileSystems[].OntapConfiguration.JunctionPath --output text)
    log_info "FSx OnTap Junction Path: ${GET_FSX_MOUNT_PATH}"
    ENDPOINT+=":${GET_FSX_MOUNT_PATH}"
  fi
  local NFS_OPTS_DATA="nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport"
  if wrapper_mount_nfs ${ENDPOINT} ${MOUNT_POINT} ${NFS_OPTS_DATA} == "success"; then
    log_info "Successfully mounted ${ENDPOINT} as ${MOUNT_POINT}"
  else
    log_error "Unable to mount  ${ENDPOINT} as ${MOUNT_POINT}"
    exit_fail
  fi
}
{% endif %}
# End: FSx OnTap mount
