<!DOCTYPE html>
<html lang="en">
<head>
     {% include 'common/header.html' %}
</head>

<body id="page-top">
  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <div class="row">
                      <div class="col-md-12">
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Access your cluster analytics</h6>
                              </div>

                              <div class="card-body">
                                  <div class="alert alert-primary">
                                      <strong>First Time User?</strong><br>
                                      If you are not already familiar with Kibana, read the following instructions below:
                                  <li style="list-style-type:none"><a href="https://awslabs.github.io/scale-out-computing-on-aws/analytics/monitor-cluster-activity/" target="_blank">Configure your index and query your data</a></li>
                                  <li style="list-style-type:none"><a href="https://awslabs.github.io/scale-out-computing-on-aws/analytics/build-kibana-dashboards/">Create your own visualizations</a></li>
                                  </div>
                                  <h3>Dashboard URL</h3>
                                  Please click here to access your dashboard url: <a href="{{ kibana_url}}" target="_blank" class="btn btn-primary my-2">{{kibana_url}}</a>
                                  <hr>
                                  <div class="accordion" id="dashboard_examples">
                                      <div class="card">
                                        <div class="card-header" id="Headhost">
                                          <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#host" aria-expanded="true" aria-controls="host">
                                              Example: Host Metrics
                                            </button>
                                          </h2>
                                        </div>

                                        <div id="host" class="collapse show" aria-labelledby="Headhost" data-parent="#dashboard_examples">
                                          <div class="card-body">
                                              <img src="/static/img/host_metrics.png">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                        <div class="card-header" id="headJob">
                                          <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#job" aria-expanded="false" aria-controls="job">
                                              Example: Job Metrics
                                            </button>
                                          </h2>
                                        </div>
                                        <div id="job" class="collapse" aria-labelledby="headJob" data-parent="#dashboard_examples">
                                          <div class="card-body">
                                              <img src="/static/img/job_metrics.png">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                        <div class="card-header" id="headNodes">
                                          <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#node" aria-expanded="false" aria-controls="node">
                                              Example: Node Metrics
                                            </button>
                                          </h2>
                                        </div>
                                        <div id="node" class="collapse" aria-labelledby="headNodes" data-parent="#dashboard_examples">
                                          <div class="card-body">
                                              <img src="/static/img/node_metrics.png">
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}

</body>

</html>
