<!DOCTYPE html>
<html lang="en">

<head>

     {% include 'common/header.html' %}


</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <div class="row">
                      <div class="col-md-12">
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Your job queue</h6>
                              </div>


                              <div class="card-body">
                              {%  if not jobs %}

                                  You don't have any jobs. <a href="/howto-job">Need help to submit your first job?</a>


                              {% else %}

                                     <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th scope="col">Job Id</th>
                                            <th>Name</th>
                                            <th>Queue</th>
                                            <th>Status</th>
                                            <th>CPUs</th>
                                            <th>Nodes</th>
                                            <th>Info</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for job_id, job_data in jobs.items() %}
                                           <tr>
                                          <th>{{ job_data.get_job_id }}</th>
                                          <th>{{ job_data.get_job_name }}</th>
                                          <th>{{ job_data.get_job_queue_name }}</th>
                                               <th>
                                                   {% if job_data.get_job_state == 'R' %}
                                                    <span class="badge badge-success">RUNNING</span>
                                                   {% elif job_data.get_job_state == 'Q' %}
                                                    <span class="badge badge-warning">QUEUED</span>

                                                   {% else %}
                                                        <span class="badge badge-danger">{{ job_data.get_job_state }}</span>

                                                   {% endif %}
                                               </th>
                                           <th>{{ job_data.get_job_ncpus }}</th>
                                           <th>{{ job_data.get_job_nodect }}</th>
                                           <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#job{{ job_data.get_job_id}}">Job Info</button>
                                           </th>
                                           </tr>

                                          <!-- Modal -->
                                                    <div class="modal fade" id="job{{ job_data.get_job_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Job {{ job_data.get_job_id }}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body">
                                                              {%  for k,v in job_data.items() %}
                                                                  {% if k == 'get_job_resource_list' %}
                                                                      <strong>{{ k }}</strong>: <br>
                                                                    {% for i,j in v.items() if i != 'stack_id' %}
                                                                            <strong> - {{i}}</strong>: {{j}} <br>
                                                                    {% endfor %}

                                                                  {% else %}
                                                                    <strong>{{k}}</strong>: {{v}} <br>
                                                                  {% endif %}

                                                                  {% endfor %}
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                          <!-- End -->
                                      {% endfor %}


                                      </tbody>
                                    </table>
                              {%  endif %}




                              </div>
                          </div>
                      </div>
              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}

</body>

</html>
