<!DOCTYPE html>
<html lang="en">

<head>

     {% include 'common/header.html' %}

</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}

          {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                <div class="alert alert-success">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% elif category == "info" %}
                                 <div class="alert alert-info">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% else %}
                                 <div class="alert alert-danger">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
               {% endwith %}

                <div class="alert alert-primary" role="alert">
                     <strong>2D Session: </strong>
                     2D session does not support GPU acceleration. This type of session is good for non-intensive compute activities.
                     <hr><strong>3D Session: </strong>
                     3D session provides full GPU support. This is recommended for graphic intensive operations such as 3D model rendering or post-processing.
                     <br>
                 </div>
              <div class="row">
                  {% for n in range(1,max_number_of_sessions + 1) %}
                    <div class="col-md-6">
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Your Session #{{ n }}</h6>
                              </div>
                              <div class="card-body">
                              {% if n in user_sessions.keys() %}
                                  {% for session_number, session_data in user_sessions.items() %}
                                      {% if session_number == n %}

                                          {% if session_data.session_state == 'pending' %}
                                              <div class="alert alert-warning" role="alert">
                                                  Please wait, your session is starting and will be ready within 20 minutes (<a href="/my_jobs">check session creation progress</a>)
                                                  This page will automatically be refreshed when the session is active.
                                              <hr>
                                                  Note: You can reduce <a href="https://awslabs.github.io/scale-out-computing-on-aws/tutorials/reduce-compute-node-launch-time-with-custom-ami/" target="_blank"> the wait time by creating your own AMI</a>
                                              </div>

                                          {% elif session_data.session_state == 'running' %}
                                              <h5>{{ session_data.session_name }}</h5>
                                              <hr>
                                              <h6>Option1: Browser access</h6>
                                              <a target="_blank" href="{{ session_data.url }}" class="btn btn-success btn-icon-split">
                                                  <span class="icon text-white-50">
                                                      <i class="fas fa-check"></i>
                                                  </span>
                                                  <span class="text">Open Session directly on a browser</span>
                                              </a>
                                              <br><br>
                                              <h6>Option2: Use Native Application (best performance)</h6>
                                              <div class="alert alert-warning" role="alert">
                                                  Download your client <a href="https://download.nice-dcv.com/" target="_blank"> here</a>.
                                              </div>
                                              <a target="_blank" href="/remote_desktop/client?session={{ n }}" class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Download Session File</span>
                                              </a>
                                              <hr>
                                              <div class="alert alert-warning" role="alert">
                                                      Terminating your session <strong>does not mean</strong> your work will be lost.<br> Data stored on your $HOME directory is persistent and you will be able to access them again if you launch a new session.
                                                      <br>
                                                      {% if terminate_idle_session > 0 %}
                                                          <hr>
                                                          Your session will <strong>automatically be terminated after {{ terminate_idle_session }} hours of inactivity.</strong>
                                                      {% endif %}
                                              </div>
                                              <div align="center">
                                                  <a href="/remote_desktop/delete?session={{ n }}" class="btn btn-danger btn-icon-split">
                                                      <span class="icon text-white-50">
                                                          <i class="fas fa-trash"></i>
                                                      </span>
                                                      <span class="text">Terminate my Session</span>
                                                  </a>
                                              </div>
                                          {% endif %}
                                      {% endif  %}
                                  {% endfor %}
                              {% else %}
                                  <form method="post" action="/remote_desktop/create">
                                    <div class="form-group row">
                                        <label for="walltime" class="col-sm-4 col-form-label">Session Name</label>
                                        <div class="col-sm-8">
                                            <input id="session_name" class="form-control"  placeholder="Desktop{{ n }}" type="text"  name="session_name" maxlength="255">
                                        </div>
                                    </div>
                                      <div class="form-group row">
                                          <label for="walltime" class="col-sm-4 col-form-label">Session Validity</label>
                                          <div class="col-sm-8">
                                              <select class="form-control" name='walltime' id="walltime">
                                                  <option selected="true" value="24:00:00">1 day</option>
                                                  <option value="72:00:00">3 days</option>
                                                  <option value="120:00:00">5 days</option>
                                                  <option value="240:00:00">10 days</option>
                                                  <option value="360:00:00">15 days</option>
                                                  <option value="750:00:00">30 days</option>
                                                  <option value="9999:00:00">Infinite</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label for="instance_type" class="col-sm-4 col-form-label">Session Type</label>
                                          <div class="col-sm-8">
                                              <select class="form-control" name='instance_type' id="instance_type">
                                                  <option value="" disabled="disabled">-- Quick Launch 2D --</option>
                                                  <option selected="true" value="m5.large">2D - Small (2 vCPUs - 8 GB ram)</option>
                                                  <option value="m5.2xlarge">2D - Medium (8 vCPUs - 32 GB ram)</option>
                                                  <option value="m5.4xlarge">2D - Large (16 vCPUs - 64 GB ram)</option>
                                                  <option value="m5.12xlarge">2D - Extra Large (48 vCPUs - 192 GB ram)</option>
                                                  <option value="m5.24xlarge">2D - XXL Large (96 vCPUs - 384 GB ram)</option>
                                                  <option value="" disabled="disabled">-- Quick Launch 3D --</option>
                                                  <option value="g3.4xlarge">3D - Small (16 vCPUs - 122 GB ram - 1 M60 GPU)</option>
                                                  <option value="g3.8xlarge">3D - Medium (32 vCPUs - 244 GB ram - 2 M60 GPUs)</option>
                                                  <option value="g3.16xlarge">3D - Large (64 vCPUs - 488 GB ram - 4 M60 GPUs)</option>
                                                  <option value="" disabled="disabled">-- Specific type --</option>
                                                  {%  for instance in all_instances %}
                                                      <option value="{{ instance }}">{{ instance }}</option>
                                                  {% endfor %}
                                              </select>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="extra" class="col-sm-4 col-form-label">Optional</label>
                                          <div class="col-sm-8">
                                             <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#advancedOptions{{ n }}" aria-expanded="false">
                                                 View Advanced Options
                                            </button>
                                          </div>
                                      </div>

                                      <div class="collapse" id="advancedOptions{{ n }}">
                                          <br>
                                          <div>
                                               <div class="form-group">
                                                   <input id="instance_ami" placeholder="EC2 AMI ID to use" class="form-control" type="text"  name="instance_ami">
                                                   <small id="instance_ami" class="form-text text-muted">(Optional) Install DCV on your custom AMI</small>
                                               </div>
                                                <div class="form-group">
                                                   <input id="base_os" placeholder="OS of the AMI if different than the master" class="form-control" type="text"  name="base_os">
                                                    <small id="instance_ami" class="form-text text-muted">Specify base os (centos7/amazonlinux2/rhel7) of your AMI if different than the master</small>

                                               </div>
                                               <div class="form-group">
                                                   <input id="scratch_size" placeholder="Scratch storage (in GB)" class="form-control" type="text"  name="scratch_size">
                                                   <small id="scratch_size" class="form-text text-muted">EBS storage (in GB) to be mounted under <code>/scratch</code></small>

                                               </div>
                                          </div>
                                          <br>
                                      </div>

                                     <div align="center">
                                         <hr>
                                      <button type="submit"  class="btn btn-primary btn-icon-split">
                                          <span class="icon text-white-50">
                                              <i class="fas fa-info-circle"></i>
                                          </span>
                                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                          <input type="hidden" id="session_number" name="session_number" value="{{ n }}">

                                          <span class="text">Launch my Session #{{ n }}</span>
                                      </button>
                                     </div>
                                  </form>
                              {% endif %}
                              </div>
                          </div>
                    </div>
                {% endfor %}

              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}

</body>

</html>
