# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Install/Update AWS CLI v2
function install_awscliv2 () {
  log_info "Installing AWSCLIv2"
  pushd "${SOCA_BOOTSTRAP_ASSETS_FOLDER}"
  if [[ $(uname -m) == "x86_64" ]]; then
    file_download --download-url="{{ context.get("/system/awscliv2/linux/x86_64") }}" --save-as="awscliv2.zip"
  elif [[ $(uname -m)  == "aarch64" ]]; then
    file_download --download-url="{{ context.get("/system/awscliv2/linux/aarch64") }}" --save-as="awscliv2.zip"
  fi

  if ! verify_package_installed unzip; then
    log_info "Unzip not found, installing it ..."
    packages_install unzip
  fi

  unzip -q awscliv2.zip
  ./aws/install --bin-dir /bin --update
  rm -rf aws awscliv2.zip
  popd
}

# Uninstall awscli and install 'awscli v2' if needed
if which aws; then
  if aws --version 2>&1 | grep -q 'aws-cli/1'; then
    log_info "awscli version 1 detected, removing it and installing v2"
    packages_remove awscli
    install_awscliv2
  elif aws --version 2>&1 | grep -q 'aws-cli/2'; then
    log_info "awscli version 2 detected"
  else
    log_info "Could not determine awscli version, installing v2"
    packages_remove awscli
    install_awscliv2
  fi
else
  log_info "awscli not found, installing awscliv2"
  install_awscliv2
fi
# End: Install/Update AWS CLI v2
