# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

{% include "templates/linux/common/log.sh.j2" %}

{% include "templates/linux/packages_management.sh.j2" %}

{% include "templates/linux/common/reboot_management.sh.j2" %}

{% include "templates/linux/common/wrapper_awscli.sh.j2" %}

{% include "templates/linux/common/wrapper_ec2.sh.j2" %}

{% include "templates/linux/common/wrapper_imds.sh.j2" %}

{% include "templates/linux/common/wrapper_secretsmanager.sh.j2" %}

{% include "templates/linux/epel.sh.j2" %}

{% include "templates/linux/jq.sh.j2" %}

{% set PATH = '/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/pbs/bin:/opt/pbs/sbin:/apps/soca/' ~ context.get("/configuration/ClusterId") %}
export PATH={{ PATH }}:${PATH}

# Source environment
source /etc/environment