# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

{% include "templates/linux/common/log.sh.j2" %}

{% include "templates/linux/common/file_download.sh.j2" %}

{% include "templates/linux/system_packages/packages_management.sh.j2" %}

{% include "templates/linux/common/reboot_management.sh.j2" %}

{% include "templates/linux/common/wrapper_awscli.sh.j2" %}

{% include "templates/linux/common/wrapper_ec2.sh.j2" %}

{% include "templates/linux/common/wrapper_imds.sh.j2" %}

{% include "templates/linux/common/wrapper_secretsmanager.sh.j2" %}

{% include "templates/linux/common/setup_environment_file.sh.j2" %}

{% set PATH = '/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/pbs/bin:/opt/pbs/sbin:/opt/soca/' ~ context.get("/configuration/ClusterId") %}
export PATH={{ PATH }}:${PATH}

# Source environment
source /etc/environment

# Source SOCA_PYTHON if exist
SOCA_PYTHON_ENV_PATH="/opt/soca/{{ context.get("/configuration/ClusterId") }}/python/latest/soca_python.env"

if [[ -f "${SOCA_PYTHON_ENV_PATH}" ]]; then
    source "${SOCA_PYTHON_ENV_PATH}"
fi