# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Configure /etc/hosts
{% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7", "rhel8", "rhel9", "rocky8", "rocky9") %}
function configure_hosts_file () {
  log_info "Begin: Configure /etc/hosts"
  local SERVER_IP=$(hostname -I)
  local SERVER_HOSTNAME=$(hostname)
  local SERVER_HOSTNAME_ALT=$(echo $SERVER_HOSTNAME | cut -d. -f1)
  echo ${SERVER_IP} ${SERVER_HOSTNAME} ${SERVER_HOSTNAME_ALT} >> /etc/hosts
  log_info "End: Configure /etc/hosts"
}
configure_hosts_file
{% endif %}
# End: Configure /etc/hosts