# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Disable SE Linux
function disable_selinux () {
  {% if context.get("/configuration/BaseOS") in ("ubuntu2204", "ubuntu2404") %}
    # Ubuntu uses AppArmor and not SELinux
    log_info "Disable AppArmor on Ubuntu"
    if systemctl is-active --quiet apparmor; then
      systemctl stop apparmor
      systemctl disable apparmor
    fi

  {% else %}
    log_info "Disable SELinux RedHat based distributions"
    if ! sestatus | grep -q "disabled"; then
      # disables selinux for current session
      sestatus 0
      # reboot is required to apply this change permanently. ensure reboot is the last line called from userdata.
      sed -i 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/selinux/config
      set_reboot_required "Disable SE Linux"
    fi
  {% endif %}
}
disable_selinux
# End: Disable SE Linux
