# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Disable Firewalld
function disable_firewall () {
  log_info "Disable Firewalld"
  systemctl stop firewalld || echo "firewalld not found on this distro"
  systemctl disable firewalld || echo "firewalld not found on this distro"
}
disable_firewall
# End: Disable Firewalld
