# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Disable StrictHostKeyChecking
function disable_ssh_stricthostkeychecking () {
  log_info "Disabling StrictHostKeyChecking"
  echo "StrictHostKeyChecking no" >> /etc/ssh/ssh_config
  echo "UserKnownHostsFile /dev/null" >> /etc/ssh/ssh_config
}
disable_ssh_stricthostkeychecking
# End: Disable StrictHostKeyChecking
