# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Disable Hyperthreading
function disable_hyperthreading () {
  log_info "# Begin: Disable Hyperthreading"
  for cpunum in $(awk -F'[,-]' '{print $2}' /sys/devices/system/cpu/cpu*/topology/thread_siblings_list | sort -un);
        do
            echo 0 > /sys/devices/system/cpu/cpu$cpunum/online;
        done
  log_info "# End: Disable Hyperthreading"
}
disable_hyperthreading
# End: Disable Hyperthreading
