# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Disable Firewalld
{% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7", "rhel8", "rhel9", "rocky8", "rocky9") %}
function disable_firewall () {
  log_info "Disable Firewalld"
  systemctl stop firewalld || echo "firewalld not found on this distro"
  systemctl disable firewalld || echo "firewalld not found on this distro"
}
disable_firewall
{% endif %}
# End: Disable Firewalld
