# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: EFA Installer
function efa_install () {
    log_info "# Begin: EFA Installer"
    local EFA_VERSION="{{ context.get("/system/efa/version") }}"
    local EFA_URL="{{ context.get("/system/efa/url") }}"
    local EFA_SHA256="{{ context.get("/system/efa/sha256") }}"
    local MAX_ATTEMPTS_INSTALLATION=5
    local ATTEMPT_INSTALLATION=0

    mkdir -p "${SOCA_BOOTSTRAP_ASSETS_FOLDER}/efa"
    pushd "${SOCA_BOOTSTRAP_ASSETS_FOLDER}/efa"
    file_download --download-url="${EFA_URL}" --save-as="efa_installer_${EFA_VERSION}.tgz" --sha256-checksum="${EFA_SHA256}"

    if [[ -d "aws-efa-installer" ]]; then
        rm -rf "aws-efa-installer"
    fi

    tar xzf "efa_installer_${EFA_VERSION}.tgz"
    
    log_info "Removing existing packages to avoid dependency conflicts"
    {% if context.get("/configuration/BaseOS") in ["rocky8", "rocky9", "rhel9", "amazonlinux2023"] %}
        packages_remove libibverbs
    {% endif %}

    # Adding packages-install for newer RHEL kernel
    {% if context.get("/configuration/BaseOS") in ["rhel9", "rocky9"] %}
        packages_install kernel-modules-$(uname -r) kernel-modules-extra-$(uname -r)
    {% endif %} 
    
    # Adding sleep to avoid repo cache issue on RHEL9
    #  == Installing EFA packages == Error: RPMS/ROCKYLINUX9/x86_64/dkms-3.0.11-1.el9.noarch.rpm does not exist. Error: failed to install EFA packages, exiting
    while [[ ${ATTEMPT_INSTALLATION} -lt ${MAX_ATTEMPTS_INSTALLATION} ]]; do
        pushd "${SOCA_BOOTSTRAP_ASSETS_FOLDER}/efa/aws-efa-installer"
        /bin/bash efa_installer.sh -y
        popd  

        if /opt/amazon/efa/bin/fi_info -p efa -t FI_EP_RDM; then
            log_info "EFA installed and verified successfully"
            break
        fi

        ATTEMPT_INSTALLATION=$((ATTEMPT_INSTALLATION + 1))

        if [[ ${ATTEMPT_INSTALLATION} -ge ${MAX_ATTEMPTS_INSTALLATION} ]]; then
            exit_fail "Unable to install EFA on this host after ${MAX_ATTEMPTS_INSTALLATION} attempts"
        fi

        log_warning "Error while trying to install EFA, will try again in 10 seconds, loop ${ATTEMPT_INSTALLATION}/${MAX_ATTEMPTS_INSTALLATION}"
        sleep 10
    done
    popd
    set_reboot_required "Post-EFA installation"
}

if ! verify_package_installed efa; then
  efa_install
else
  log_info "EFA is already installed on this machine. Please uninstall it first or use a different AMI"
fi
# End: EFA Installer
