# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Install jq
function install_jq () {
  log_info "Begin: Install jq"
  if ! verify_package_installed jq; then
    packages_install jq
  fi
}
install_jq
# End: Install jq