# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Install NodeJS

# Usage: Ensure NVM_DIR environment variable is added to /etc/environment when nodejs is installed.
function install_nodejs () {
  pushd "${SOCA_BOOTSTRAP_ASSETS_FOLDER}"
  local NVM_URL="{{ context.get("/system/nvm/url") }}"
  local NVM_SHA256="{{ context.get("/system/nvm/sha256") }}"

  {% if context.get("/configuration/BaseOS") == "amazonlinux2023" %}
  local NODE_VERSION="{{ context.get("/system/nvm/node_version") }}"
  {% else %}
  # Older distro don't have support for required GLIBC_2.27 / GLIBC_2.28  required by Node 18+
  local NODE_VERSION="17.9.0"
  {% endif %}

  # Install NodeJS/NPM if needed
  if ! command -v npm; then
    log_info "npm not detected, installing it ... "
    export NVM_DIR="${SOCA_BOOTSTRAP_ASSETS_FOLDER}/nvm/$(date +%s)/.nvm"
    mkdir -p ${NVM_DIR}
    log_info "Downloading ${NVM_URL}"
    file_download --download-url="${NVM_URL}" --save-as="install_node.sh"
    chmod +x install_node.sh
    /bin/bash install_node.sh
    source "${NVM_DIR}/nvm.sh"  # This loads nvm
    source "${NVM_DIR}/bash_completion"
    nvm install ${NODE_VERSION}
  fi
  popd
}

install_nodejs
# End: Install NodeJS