# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Configure OpenMPI
{% if context.get("/configuration/BaseOS") in ("amazonlinux2", "amazonlinux2023", "centos7", "rhel7", "rhel8", "rhel9", "rocky8", "rocky9") %}
function install_openmpi () {
  log_info "Begin: Configure OpenMPI"
  # Compile OpenMPI under /root/openmpi/openmpi_version
  # This will take a while and is not system blocking, so adding at the end of the install process
  local OPENMPI_VERSION="{{ context.get("/system/openmpi/version") }}"
  local OPENMPI_URL="{{ context.get("/system/openmpi/url") }}"
  local OPENMPI_SHA256="{{ context.get("/system/openmpi/sha256") }}"

  if [[ ! -d "/apps/openmpi/${OPENMPI_VERSION}" ]]; then
    log_info "/apps/openmpi/${OPENMPI_VERSION} does not exist, installing OpenMPI ..."
    mkdir -p "${SOCA_BOOTSTRAP_ASSETS_FOLDER}/openmpi/installer"
    mkdir -p "/apps/openmpi/${OPENMPI_VERSION}"
    pushd "${SOCA_BOOTSTRAP_ASSETS_FOLDER}/openmpi/installer"
    file_download --download-url="${OPENMPI_URL}" --save-as="openmpi_installer_${OPENMPI_VERSION}.tgz" --sha256-checksum="${OPENMPI_SHA256}"
    tar xzf "openmpi_installer_${OPENMPI_VERSION}.tgz" --strip-components=1 -C .
    ./configure --prefix="/apps/openmpi/${OPENMPI_VERSION}"
    make -j "${NCPU}"
    make install
    popd
  else
    log_info "/apps/openmpi/${OPENMPI_VERSION} already exist, skipping OpenMPI install"
  fi
}
install_openmpi
{% endif %}
# End: Configure OpenMPI