# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Fix patch_centos7_repo
{% if context.get("/configuration/BaseOS") == "centos7" %}
function patch_centos7_repo () {
  log_info "CentOS7 is EOL and default mirrorlist does not resolve, replacing with vault)"
  sed -i s/mirror.centos.org/vault.centos.org/g /etc/yum.repos.d/*.repo
  sed -i s/^#.*baseurl=http/baseurl=http/g /etc/yum.repos.d/*.repo
  sed -i s/^mirrorlist=http/#mirrorlist=http/g /etc/yum.repos.d/*.repo
}
patch_centos7_repo
{% endif %}
# End: patch_centos7_repo