<!--
# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'common/header.html' %}
</head>
<body id="page-top">
<div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <br>
            <div class="container-fluid">
                {% include 'common/horizontal_menu_bar.html' %}
                {% include 'common/flashed_messages.html' %}

                <div class="col-md-12">
                    <div class="alert alert-primary">
                        Make sure your Amazon Machine Images (AMI) are available in your current region:
                        <strong>{{ region_name }}</strong> <br>
                        <a target="_blank" rel="noopener,noreferrer"
                           href="https://awslabs.github.io/scale-out-computing-on-aws-documentation/tutorials/reduce-compute-node-launch-time-with-custom-ami/">Click
                            here to learn how to create custom images</a>
                    </div>

                      <div class="alert alert-warning">
                        <strong>Once you've created your Software Stack, make sure to <a href="/admin/projects" target="_blank">assign it to at least one SOCA Project</a>.</strong> Otherwise, your profile will remain hidden from users.
                      </div>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-add"
                               role="tab" aria-controls="nav-home" aria-selected="true">Register Software Stack</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-delete"
                               role="tab" aria-controls="nav-delete" aria-selected="false">Manage Software Stacks</a>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-add" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <br>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Register a new Software Stack
                                        (AMI) to SOCA</h6>
                                </div>
                                    <div class="card-body">
                                        <form action="/admin/virtual_desktops/software_stacks/create" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="ami_id" data-toggle="tooltip" data-placement="top"
                                                       title="Unique ID of your Amazon image. Must be a valid image, start with ami- and between 8 to 21 chars">AMI
                                                    ID</label>
                                                <input id="ami_id" placeholder="Image ID (start with ami-xxx)"
                                                       class="form-control"
                                                       type="text"
                                                       required name="ami_id" minlength="8" maxlength="21">
                                            </div>

                                            <div class="form-group">
                                                <label for="stack_name" data-toggle="tooltip" data-placement="top"
                                                       title="Choose a friendly name for your AMI.">Software Stack Name
                                                </label>
                                                <input id="stack_name" placeholder="Enter friendly AMI Name"
                                                       class="form-control" type="text"
                                                       required name="stack_name">
                                            </div>

                                            <div class="form-group">
                                                <label for="description" data-toggle="tooltip" data-placement="top"
                                                       title="Description of your Software Stack">Software Stack Description
                                                </label>
                                                <textarea id="description" placeholder="(Optional) Description for your software stack, maximum 500 characters."
                                                          class="form-control" rows="3"  name="description"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="base_os" data-toggle="tooltip" data-placement="top"
                                                       title="Select image baseOS">Operating System</label>
                                                <select class="form-control" id="base_os" name="base_os">
                                                    {% for base_os in supported_base_os %}
                                                            <option value="{{base_os}}">{{base_os}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label data-toggle="tooltip" data-placement="top"
                                                       title="The minimum size (in GB) of the root disk for this image. Provisioning an instance with a lower EBS size will throw an error"
                                                       for="root_size">Root Disk Size (in GB)</label>
                                                <input type="number" min=0 value=40 id="root_size" class="form-control"
                                                       required name="root_size">
                                            </div>

                                             <div class="form-group">
                                                <label data-toggle="tooltip" data-placement="top"
                                                       title="List of allowed instance type/family"
                                                       for="virtual_desktop_profile_id">Profile associated to this stack</label>
                                                <select class="form-control" required id="virtual_desktop_profile_id" name="virtual_desktop_profile_id">
                                                 {% for profile_id, profile_info in profiles.items() %}
                                                    <option value="{{profile_id}}"> {{ profile_info.profile_name }}</option>
                                                 {% endfor %}
                                                </select>
                                             </div>

                                            <div class="form-group">
                                                <label for="launch_tenancy" data-toggle="tooltip" data-placement="top"
                                                       title="Choose AMI launch tenancy setting">Launch Tenancy</label>
                                                <select class="form-control" name='launch_tenancy' id="launch_tenancy">
                                                    <option value="default" selected>Default Tenancy (default)</option>
                                                    <option value="dedicated">Dedicated Instance Tenancy (instance)</option>
                                                    <option value="host">Dedicated Host Tenancy (host)</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="launch_host" data-toggle="tooltip" data-placement="top"
                                                       title="Launch Host if using Dedicated Host Tenancy">Launch Host
                                                    ID</label>
                                                <input id="launch_host" placeholder="(Optional if not using Host Tenancy) Launch Host ID (h-xxx)"
                                                       class="form-control" type="text"
                                                       name="launch_host">
                                            </div>

                                            <div class="form-group">
                                                 <label data-toggle="tooltip" data-placement="top"
                                                       title="Thumbnail to use (150px * 150px)">Thumbnail (150px * 150px)
                                                    </label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="thumbnail" name="thumbnail" accept="image/png, image/jpeg, image/jpg">
                                                    <label class="custom-file-label">Select an
                                                        image (jpg or png) to use as thumbnail. Leave blank to
                                                        use the existing thumbnail</label>
                                                </div>
                                                <script>
                                                    $(".custom-file-input").on("change", function () {
                                                        let fileName = $(this).val().split("\\").pop();
                                                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                                    });
                                                </script>
                                            </div>

                                            <div>
                                                <input type="hidden" name="csrf_token"
                                                       value="{{ csrf_token() }}">
                                                <button type="submit" class="btn btn-primary btn-lg">Register Software Stack in SOCA
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-delete" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <br>
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Manage Software Stacks</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="alert alert-primary" role="alert">
                                            <strong>Important:</strong> <br>

                                            Removing the Software Stack from SOCA will not remove the AMI from your AWS account
                                            <br>
                                            Removing a software stack won't impact existing virtual desktops
                                        </div>
                                        <div class="row">
                                        {% if software_stacks %}
                                            <div class="col-md-5">
                                            <form id="softwareStackForm" action="/admin/virtual_desktops/software_stacks/delete" method="post">
                                                <div class="form-group">
                                                    <select class="form-control" id="software_stack_id" name="software_stack_id">
                                                        {% for software_stack_id, software_stack_info in software_stacks.items() %}
                                                            <option value="{{ software_stack_id }}"
                                                                    data-soca-ami-base-os="{{ software_stack_info.ami_base_os }}"
                                                                    data-soca-ami-arch="{{ software_stack_info.ami_arch }}"
                                                                    data-soca-ami-id="{{ software_stack_info.ami_id }}"
                                                                    data-soca-created-on="{{ software_stack_info.created_on }}"
                                                                    data-soca-vdi-profile="{{ software_stack_info.virtual_desktop_profile_id }}"
                                                                    data-soca-project-ids="{{ software_stack_info.project_ids }}"
                                                                    data-soca-created-by="{{ software_stack_info.created_by }}">
                                                                ID: {{software_stack_id}} - {{ software_stack_info.stack_name }} ({{software_stack_info.ami_arch}})
                                                            </option>
                                                        {% endfor %}
                                                    </select>

                                                </div>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" name="verif" id="verif"
                                                           required>
                                                    <label class="form-check-label" for="verif">I am sure I want to
                                                        unregister this
                                                        Software Stack from SOCA</label>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <button type="submit" class="btn btn-danger btn-lg mr-2">Unregister Software Stack from
                                                        SOCA
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-lg" onclick="submitEditForm()">Edit Software Stack</button>

                                                </div>
                                            </form>
                                                </div>
                                            <div class="col-md-7">
                                                 <div id="stackInfo">
                                                     Select a stack to see details.
                                                 </div>
                                            </div>
                                        {% else %}
                                            No custom AMI found. Create one first
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>

                {% include 'common/footer.html' %}
                <script>
                    $(document).ready(function () {
                        // enable tooltip
                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                    })
                </script>
                    <script>
                        function submitEditForm() {
                            let form = document.getElementById('softwareStackForm');
                            form.action = "/admin/virtual_desktops/software_stacks/edit";
                            form.submit();
                        }

                        function updateSoftwareStackInfo() {
                        var selectElement = document.getElementById("software_stack_id");
                        var selectedOption = selectElement.options[selectElement.selectedIndex];

                        document.getElementById("stackInfo").innerHTML =
                            "<h3>Software Stack Details:</h3> <hr>" +
                            "<strong>Base OS:</strong> " + selectedOption.getAttribute("data-soca-ami-base-os") +
                            "<br><strong>Architecture:</strong> " + selectedOption.getAttribute("data-soca-ami-arch") +
                            "<br><strong>AMI ID:</strong> " + selectedOption.getAttribute("data-soca-ami-id") +
                            "<br><strong><a href='/admin/virtual_desktops/profiles' target='_blank'>Associated VDI Profile ID:</a></strong> " + selectedOption.getAttribute("data-soca-vdi-profile") +
                            "<br><strong><a href='/admin/projects' target='_blank'>Associated Project IDs:</a></strong> " + selectedOption.getAttribute("data-soca-project-ids") +
                            "<br><strong>Created By:</strong> " + selectedOption.getAttribute("data-soca-created-by") +
                            "<br><strong>Created On</strong> " + selectedOption.getAttribute("data-soca-created-on");
                        }

                        document.addEventListener("DOMContentLoaded", function() {
                            updateSoftwareStackInfo(); // Call the function on page load
                            document.getElementById("software_stack_id").addEventListener("change", updateSoftwareStackInfo);
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
