<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}
</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              {% if sudoers == false %}
               <div class="alert alert-danger" role="alert">
                     <strong>Access denied </strong>
                   Only users with sudo permissions can access this page
                     <br>
                 </div>
              {% else %}
              <div id="accessok">
                  {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                <div class="alert alert-success">
                                    <strong>{{ message }} </strong>
                                </div>
                                {% else %}
                                 <div class="alert alert-danger">
                                    <strong>{{ message }} </strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                  <div class="col-md-12">
                  <nav>
                     <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-add" role="tab" aria-controls="nav-home" aria-selected="true">Create a queue</a>
                          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-delete" role="tab" aria-controls="nav-delete" aria-selected="false">Delete a queue</a>
                      </div>
                     </nav>
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-add" role="tabpanel" aria-labelledby="nav-home-tab">
                          <br>
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Create a new queue</h6>
                              </div>
                              <div class="card-body">
                                  <form action="/admin/queues/create" method="post">
                                      <div class="form-group">
                                          <input id="queue_name" placeholder="Queue name" class="form-control" type="text" required name="queue_name">
                                      </div>
                                      <select class="form-control" id="queue_type" name="queue_type">
                                          <option value="ondemand">Automatic Provisioning (Default)</option>
                                          <option value="alwayson">AlwaysOn</option>
                                    </select>
                                      <br>
                                      <div align="center">
                                           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                          <button type="submit" class="btn btn-primary btn-lg">Create new Queue</button>
                                      </div>
                                  </form>
                                  <br>
                                  <div class="alert alert-info">
                                      <strong>Automatic Provisioning</strong><br>
                                      Hosts in this queue will be provisioned automatically based on the number of queued jobs. Hosts are restricted to a given job ID and are automatically terminated as soon as the job complete.
                                      <hr>
                                      <strong>Always On</strong><br>
                                      Host in this queue will stay online until an admin decide to manually turn them off
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="tab-pane fade" id="nav-delete" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <br>
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Delete a queue</h6>
                              </div>
                              <div class="card-body">
                                  <div class="alert alert-primary" role="alert">
                                      <strong>Important </strong>
                                      It's not recommended to delete the default queues: low,normal,high,test,desktop and alwayson.
                                  </div>

                                  <form action="/admin/queues/delete" method="post">                                  <div class="form-group">
                                    <select class="form-control" id="queue_to_delete" name="queue_to_delete">
                                        {% for queue in all_queues %}
                                            <option value="{{queue}}">{{queue}}</option>
                                        {% endfor %}

                                    </select>
                                  </div>
                                       <div class="form-group form-check">
                                          <input type="checkbox" class="form-check-input" name="verif" id="verif" required>
                                          <label class="form-check-label" for="verif">I am sure I want to delete this queue</label>
                                      </div>
                                      <div align="center">
                                           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                          <button type="submit" class="btn btn-danger btn-lg">Delete Queue</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="nav-reset" role="tabpanel" aria-labelledby="nav-contact-tab">
                          <br>
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Reset Password</h6>
                              </div>
                              <div class="card-body">
                                  <div class="alert alert-primary" role="alert">
                                      <strong>Important </strong>
                                      This will generate a temporary password for a given user
                                  </div>
                                  <form action="/admin/reset_password" method="post" oninput='password_verif.setCustomValidity(password_verif.value != password.value ? "Passwords do not match." : "")'>                                       <div class="form-group">
                                    <select class="form-control" id="username" name="username">
                                        {% for user in all_users %}
                                            <option value="{{user}}">{{user}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>

                                       <div class="form-group form-check">
                                          <input type="checkbox" class="form-check-input" name="admin_reset_verif" id="admin_reset_verif" required>
                                          <label class="form-check-label" for="admin_reset_verif">I am sure I want to reset the password for this user</label>
                                      </div>
                                      <div align="center">
                                           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                           <input type="hidden" name="admin_reset" value="yes">
                                           <button type="submit" class="btn btn-danger btn-lg">Generate temporary password</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                    <div class="tab-pane fade" id="nav-admin" role="tabpanel" aria-labelledby="nav-contact-tab">
                          <br>
                    <div class="row">
                    <div class="col-md-6">
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Grant user Admin permission</h6>
                              </div>
                              <div class="card-body">
                                  <form action="/admin/manage_sudo" method="post">
                                      <div class="form-group">
                                    <select class="form-control" id="username" name="username">
                                        {% for user in all_users %}
                                            <option value="{{user}}">{{user}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                       <div class="form-group form-check">
                                          <input type="checkbox" class="form-check-input" name="admin_verif" id="admin_reset_verif" required>
                                           <label class="form-check-label" for="admin_verif">I am sure I want to <strong>grant</strong> Admin permission to this user</label>
                                      </div>
                                      <div align="center">
                                          <input type="hidden" name="action" value="grant">
                                           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                           <button type="submit" class="btn btn-success btn-lg">Grant Admin permission</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Revoke user Admin permission</h6>
                              </div>
                              <div class="card-body">
                                  <form action="/admin/manage_sudo" method="post">
                                      <div class="form-group">
                                    <select class="form-control" id="username" name="username">
                                        {% for user in all_users %}
                                            <option value="{{user}}">{{user}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                       <div class="form-group form-check">
                                          <input type="checkbox" class="form-check-input" name="sudo_revoke_verif" id="sudo_revoke_verif" required>
                                           <label class="form-check-label" for="sudo_revoke_verif">I am sure I want to <strong>revoke</strong> Admin permission to this user</label>
                                      </div>
                                      <div align="center">
                                          <input type="hidden" name="action" value="revoke">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                           <button type="submit" class="btn btn-danger btn-lg">Revoke Admin permission</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                    </div>
                    </div>
                    </div>
                      <div class="tab-pane fade" id="nav-ldap" role="tabpanel" aria-labelledby="nav-home-tab">
                          <br>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Technical Details</h6>
                                </div>
                                <div class="card-body">
                                    Scale-Out Computing on AWS uses OpenLDAP and you can interact with your directory using LDIF directly. If you are not familiar with LDIF, you can use our custom wrapper available at <code>/apps/soca/cluster_manager/ldap_manager.py</code>
                                    <br><br>
                                    <li>People: OU=People,DC=soca,DC=local</li>
                                    <li>Groups: OU=Group,DC=soca,DC=local</li>
                                    <li>Sudoers: OU=Sudoers,DC=soca,DC=local (This OU manages sudo permission on the cluster)</li>
                                    <br>
                                    <div class="alert alert-warning" role="alert">
                                        Admin username and password can be found on <code>/root/OpenLdapAdminUsername.txt</code> and <code>/root/OpenLdapAdminPassword.txt</code>.
                                    </div>
                                    <hr>
                                    <h3> Example: Create a new LDAP group</h3>
                                    Create a "mynewgroup.ldif" text file.
                                    <pre>
                                       <code class="language-bash">
        dn: cn=mynewgroup,ou=Group,dc=soca,dc=local
        objectClass: top
        objectClass: posixGroup
        cn: mynewgroup
        gidNumber: 6000
        memberUid: mytestuser</code></pre>
                                    Then run the following command to create your group
                                    <pre>
                                        <code class="language-bash">
        ~ ldapadd -x -D cn=admin,dc=soca,dc=local -y /root/OpenLdapAdminPassword.txt -f mynewgroup.ldif
        adding new entry "cn=mynewgroup,ou=Group,dc=soca,dc=local"</code></pre>
                                    Finally valid your group has been created correctly using <code>ldapsearch</code>
                                    <pre>
                                        <code class="language-bash">
        # Validate with Ldapsearch
        ~ ldapsearch -x cn=mynewgroup
        #Extended LDIF
        #
        # LDAPv3
        # base DC=soca,DC=local (default) with scope subtree
        # filter: cn=mynewgroup
        # requesting: ALL
        #

        # mynewgroup, Group, soca.local
        dn: cn=mynewgroup,ou=Group,dc=soca,dc=local
        objectClass: top
        objectClass: posixGroup
        cn: mynewgroup
        gidNumber: 6000
        memberUid: mytestuser</code></pre>
        <hr>
                                     <h3> Example: Modify Operation</h3>
                                    <pre>
                                        <code class="language-bash">
        dn: cn=mynewgroup,ou=Group,dc=soca,dc=local
        changetype: modify
        add: memberUid
        memberUid: anotheruser</code></pre>
                                    <hr>
                                     <h3> Example: Delete Operation</h3>
                                    <pre>
                                        <code class="language-bash">
        dn: cn=mynewgroup,ou=Group,dc=soca,dc=local
        changetype: modify
        delete: memberUid
        memberUid:: anotheruser # you get the memberUid by running a simple ldapsearch first</code></pre>

                                </div>
                            </div>
                      </div>
                  </div>
        {% endif %}
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}

</body>

</html>
